backup-workflows-en-github-FPJXeQhNTMWENcCY.json
{"updatedAt":"2026-03-10T20:16:03.353Z","createdAt":"2026-03-06T05:36:37.720Z","id":"FPJXeQhNTMWENcCY","name":"Backup workflows en Github","active":true,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"d6451b6d-727c-4e18-8848-d5557f0c1fe7","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1920,656],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"JY8Whvtt3Jx6BHwn","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2368,656],"id":"94c38b61-003b-4d98-8f41-944bf4cf24f1","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2592,384],"id":"3784b4a2-32f9-4e5c-abce-8eb9a6c2cee4","name":"No Operation, do nothing"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Set Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Set Fields').item.json.commitDate }}"},"id":"b3811869-5fc7-460c-ba0c-f8e78ea7df36","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2816,656],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"o5grOxT8VeClYMj3","name":"Isaac07hdz"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Set Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Set Fields').item.json.commitDate }}"},"id":"20271308-9d76-4762-87e4-15813002d27f","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2816,848],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"o5grOxT8VeClYMj3","name":"Isaac07hdz"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1472,656],"id":"cb412404-62f7-438c-b7c2-778b8ad7840f","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"o5grOxT8VeClYMj3","name":"Isaac07hdz"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"c5ff6bb6-019a-4000-9b76-560ba85faf75","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2144,656]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"58609810-215e-4d51-9761-a832c5696663","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[2592,576]},{"parameters":{"content":"#  🦾Respalda tus workflows en github\n\n### Agradecimiento a: Matias Astudillo, miembro de Vibe Community VIP\n### Únete a la [comunidad exclusiva](https://www.skool.com/vibe-community-vip/about) \n\n![captura](https://subir-imagen.com/images/2025/07/28/Captura-de-pantalla-2025-07-28-171752.png)","height":512,"width":624,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,32],"id":"bf67229c-4062-483b-bac1-c0a2ea08296c","name":"Sticky Note"},{"parameters":{"content":"## 🛡️ Workflow de Respaldo Automático de Workflows en N8N\n\nEste workflow se ejecuta **diariamente a las 12:00 a.m.** y respalda todos los workflows de N8N en un repositorio de GitHub.\n\n---\n\n### ⚙️ Configuración Inicial\n\n* **Repository Owner**: tu usuario de GitHub\n* **Repository Name**: nombre del repositorio\n* **Commit Date**: fecha y hora actual (`DD-MM-YYYY/HH:SS`)\n\n---\n\n### 🔐 Autenticación\n\n**GitHub:**\n\n1. Crea un repositorio en GitHub.\n2. Ve a `Settings > Developer Settings > Tokens (classic)`.\n3. Genera un token con permisos (`write-packages`).\n4. Usa el token en las credenciales de GitHub en N8N.\n\n**N8N:**\n\n1. Ve a `Settings > API` en tu instancia.\n2. Genera un token.\n3. Usa como Base URL:\n\n   ```\n   https://TU_INSTANCIA.com/api/v1\n   ```\n---\n\n### 🔄 Flujo del Proceso\n\n1. Se listan los archivos actuales del repositorio (GitHub).\n2. Se obtienen todos los workflows desde N8N (JSON).\n3. Se convierten a binario.\n4. En un loop:\n\n   * Si el archivo existe → se actualiza.\n   * Si no existe → se sube como nuevo.\n\n---\n\n### ✅ Resultado\n\nTodos los workflows quedan respaldados en GitHub con un commit que incluye la fecha y hora.\n\n\n\n","height":1168,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"5503b665-7ab5-4d73-9421-d97ef4f70bfd","name":"Sticky Note1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1696,656],"id":"fffe8059-3338-4c69-b6e3-1dfb59b1cdf0","name":"Combinar archivos"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1024,656],"id":"31ab9c87-9e74-43d5-a35b-105f5460d4dc","name":"Trigger Node -> Schedule Backups"},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"Isaac07hdz","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n_Backups_IMHR_iheratech","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,656],"id":"2425e1e7-d84b-4513-9e10-bf2225cb65dd","name":"Set Fields"}],"connections":{"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Trigger Node -> Schedule Backups":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Mexico_City","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Trigger Node -> Schedule Backups":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f424e70f-acf2-4876-a9c6-941783bd6fb8","activeVersionId":"f424e70f-acf2-4876-a9c6-941783bd6fb8","triggerCount":1,"shared":[{"updatedAt":"2026-03-06T05:36:37.723Z","createdAt":"2026-03-06T05:36:37.723Z","role":"workflow:owner","workflowId":"FPJXeQhNTMWENcCY","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":{"updatedAt":"2026-03-10T20:15:41.000Z","createdAt":"2026-03-06T05:43:28.207Z","versionId":"f424e70f-acf2-4876-a9c6-941783bd6fb8","workflowId":"FPJXeQhNTMWENcCY","nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"d6451b6d-727c-4e18-8848-d5557f0c1fe7","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1920,656],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"JY8Whvtt3Jx6BHwn","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2368,656],"id":"94c38b61-003b-4d98-8f41-944bf4cf24f1","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2592,384],"id":"3784b4a2-32f9-4e5c-abce-8eb9a6c2cee4","name":"No Operation, do nothing"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Set Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Set Fields').item.json.commitDate }}"},"id":"b3811869-5fc7-460c-ba0c-f8e78ea7df36","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2816,656],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"o5grOxT8VeClYMj3","name":"Isaac07hdz"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Set Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Set Fields').item.json.commitDate }}"},"id":"20271308-9d76-4762-87e4-15813002d27f","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2816,848],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"o5grOxT8VeClYMj3","name":"Isaac07hdz"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1472,656],"id":"cb412404-62f7-438c-b7c2-778b8ad7840f","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"o5grOxT8VeClYMj3","name":"Isaac07hdz"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"c5ff6bb6-019a-4000-9b76-560ba85faf75","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2144,656]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"58609810-215e-4d51-9761-a832c5696663","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[2592,576]},{"parameters":{"content":"#  🦾Respalda tus workflows en github\n\n### Agradecimiento a: Matias Astudillo, miembro de Vibe Community VIP\n### Únete a la [comunidad exclusiva](https://www.skool.com/vibe-community-vip/about) \n\n![captura](https://subir-imagen.com/images/2025/07/28/Captura-de-pantalla-2025-07-28-171752.png)","height":512,"width":624,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,32],"id":"bf67229c-4062-483b-bac1-c0a2ea08296c","name":"Sticky Note"},{"parameters":{"content":"## 🛡️ Workflow de Respaldo Automático de Workflows en N8N\n\nEste workflow se ejecuta **diariamente a las 12:00 a.m.** y respalda todos los workflows de N8N en un repositorio de GitHub.\n\n---\n\n### ⚙️ Configuración Inicial\n\n* **Repository Owner**: tu usuario de GitHub\n* **Repository Name**: nombre del repositorio\n* **Commit Date**: fecha y hora actual (`DD-MM-YYYY/HH:SS`)\n\n---\n\n### 🔐 Autenticación\n\n**GitHub:**\n\n1. Crea un repositorio en GitHub.\n2. Ve a `Settings > Developer Settings > Tokens (classic)`.\n3. Genera un token con permisos (`write-packages`).\n4. Usa el token en las credenciales de GitHub en N8N.\n\n**N8N:**\n\n1. Ve a `Settings > API` en tu instancia.\n2. Genera un token.\n3. Usa como Base URL:\n\n   ```\n   https://TU_INSTANCIA.com/api/v1\n   ```\n---\n\n### 🔄 Flujo del Proceso\n\n1. Se listan los archivos actuales del repositorio (GitHub).\n2. Se obtienen todos los workflows desde N8N (JSON).\n3. Se convierten a binario.\n4. En un loop:\n\n   * Si el archivo existe → se actualiza.\n   * Si no existe → se sube como nuevo.\n\n---\n\n### ✅ Resultado\n\nTodos los workflows quedan respaldados en GitHub con un commit que incluye la fecha y hora.\n\n\n\n","height":1168,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"5503b665-7ab5-4d73-9421-d97ef4f70bfd","name":"Sticky Note1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1696,656],"id":"fffe8059-3338-4c69-b6e3-1dfb59b1cdf0","name":"Combinar archivos"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1024,656],"id":"31ab9c87-9e74-43d5-a35b-105f5460d4dc","name":"Trigger Node -> Schedule Backups"},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"Isaac07hdz","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n_Backups_IMHR_iheratech","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,656],"id":"2425e1e7-d84b-4513-9e10-bf2225cb65dd","name":"Set Fields"}],"connections":{"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Trigger Node -> Schedule Backups":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]}},"authors":"ISAAC HERNANDEZ","name":"v.1","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-06T05:36:36.112Z","createdAt":"2026-03-06T05:36:36.112Z","id":"zIdQlNe6qeClOFek","name":"IMHR_Mainteance"}]}