btz_rpts_trip_manifests_ai_safe-Xhd5b6tyxUO4BBLW.json
{"updatedAt":"2026-03-06T05:25:49.000Z","createdAt":"2026-03-06T05:25:49.972Z","id":"Xhd5b6tyxUO4BBLW","name":"Btz_Rpts_Trip_Manifests_AI_SAFE","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"token"},{"name":"providerId"},{"name":"productId"},{"name":"dateFrom"},{"name":"dateTo"},{"name":"maxRows"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-576,208],"id":"df48ed07-d511-4967-a758-45cab614edc5","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Code_Normalize_Manifests (FINAL v2 - minimal schema, enterprise hardening)\n\nconst isDate = (s) => /^\\d{4}-\\d{2}-\\d{2}$/.test(String(s || \"\").trim());\nconst isHex24 = (s) => /^[0-9a-f]{24}$/i.test(String(s || \"\").trim());\nconst toStr = (v) => (v ?? \"\").toString().trim();\n\nconst parseMaxRows = (v) => {\n  let n = Number(String(v ?? 20).replace(/[^0-9]/g, \"\"));\n  if (!Number.isFinite(n) || n <= 0) n = 20;\n  if (n > 50) n = 50; // AI-SAFE cap\n  return n;\n};\n\n// Required: token\nconst token = toStr($json.token);\nif (!token) {\n  return [{\n    json: {\n      ok: false,\n      error: \"token is required (Bearer JWT missing)\",\n      tokenPresent: false,\n      tokenPrefix: null,\n    }\n  }];\n}\n\nconst providerId = toStr($json.providerId);\nconst productId  = toStr($json.productId);\n\nif (!providerId) return [{ json: { ok: false, error: \"providerId is required\", tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!productId)  return [{ json: { ok: false, error: \"productId is required\", tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nif (!isHex24(providerId)) return [{ json: { ok: false, error: \"providerId must be 24-hex\", providerId, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!isHex24(productId))  return [{ json: { ok: false, error: \"productId must be 24-hex\", productId, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nconst dateFrom = toStr($json.dateFrom);\nconst dateTo   = toStr($json.dateTo || dateFrom);\n\nif (!isDate(dateFrom)) return [{ json: { ok: false, error: \"dateFrom must be YYYY-MM-DD\", dateFrom, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!isDate(dateTo))   return [{ json: { ok: false, error: \"dateTo must be YYYY-MM-DD\", dateTo, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nconst maxRows = parseMaxRows($json.maxRows);\n\nreturn [{\n  json: {\n    ok: true,\n    token,\n    tokenPresent: true,\n    tokenPrefix: token.slice(0, 12),\n    providerId,\n    productId,\n    dateFrom,\n    dateTo,\n    maxRows\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,208],"id":"9684ae19-0427-4168-b8d8-3c8f145f1c4b","name":"Code_Normalize_Manifests"},{"parameters":{"jsCode":"// Code_AI_SAFE_Reducer_Manifests (FINAL v2) - KPIs + Top Table (AI-SAFE, minimal params)\n\nconst input = $items(\"Code_Normalize_Manifests\")[0].json;\n\nconst maxRows = Number(input.maxRows ?? 20);\nconst data = $json;\n\nconst toIdShort = (id) => (id ? String(id).slice(-8) : null);\nconst getByPath = (obj, path) => path.split(\".\").reduce((a, k) => (a && a[k] !== undefined ? a[k] : undefined), obj);\nconst pick = (obj, paths) => {\n  for (const p of paths) {\n    const v = getByPath(obj, p);\n    if (v !== undefined && v !== null && v !== \"\") return v;\n  }\n  return null;\n};\n\nconst manifestsRaw =\n  Array.isArray(data.tripManifests) ? data.tripManifests :\n  Array.isArray(data.manifests) ? data.manifests :\n  Array.isArray(data.items) ? data.items :\n  [];\n\nconst rowsAll = manifestsRaw.map((m) => {\n  const manifestId = pick(m, [\"_id\", \"id\", \"tripManifestId\"]);\n  const tripId = pick(m, [\"tripId\", \"trip._id\", \"trip.id\", \"departureId\", \"departures.0.id\"]);\n\n  const origin = pick(m, [\"origin.name\", \"from.name\", \"departureStation.name\", \"origin\", \"from\"]);\n  const destination = pick(m, [\"destination.name\", \"to.name\", \"arrivalStation.name\", \"destination\", \"to\"]);\n\n  const dep = pick(m, [\"departureTime\", \"departure.time\", \"trip.departureTime\", \"trip.departure.time\", \"departures.0.departureTime\"]);\n  const arr = pick(m, [\"arrivalTime\", \"arrival.time\", \"trip.arrivalTime\", \"trip.arrival.time\", \"departures.0.arrivalTime\"]);\n\n  const pax = Number(pick(m, [\"pax\", \"paxCount\", \"passengersCount\", \"totalPassengers\", \"soldSeats\", \"ticketsSold\", \"summary.pax\"]));\n  const revenue = Number(pick(m, [\"revenue\", \"totalAmount\", \"gross\", \"sales\", \"totalSales\", \"summary.revenue\"]));\n\n  const paxSafe = Number.isFinite(pax) ? pax : null;\n  const revenueSafe = Number.isFinite(revenue) ? revenue : null;\n\n  const route = (origin && destination) ? `${origin} → ${destination}` : null;\n  const score = (revenueSafe ?? 0) * 1000000 + (paxSafe ?? 0);\n\n  return {\n    manifestId,\n    manifestIdShort: toIdShort(manifestId),\n    tripId,\n    tripIdShort: toIdShort(tripId),\n    route,\n    departureTime: dep,\n    arrivalTime: arr,\n    pax: paxSafe,\n    revenue: revenueSafe,\n    score,\n  };\n});\n\nconst totalManifests = rowsAll.length;\nconst uniqueTrips = new Set(rowsAll.map(r => r.tripId).filter(Boolean)).size;\nconst totalPax = rowsAll.reduce((acc, r) => acc + (Number.isFinite(r.pax) ? r.pax : 0), 0);\nconst totalRevenue = rowsAll.reduce((acc, r) => acc + (Number.isFinite(r.revenue) ? r.revenue : 0), 0);\n\nconst rowsTop = [...rowsAll]\n  .sort((a, b) => (b.score ?? 0) - (a.score ?? 0))\n  .slice(0, maxRows)\n  .map(({ score, ...r }) => r);\n\nreturn [{\n  json: {\n    ok: true,\n    params: {\n      providerId: input.providerId,\n      productId: input.productId,\n      dateFrom: input.dateFrom,\n      dateTo: input.dateTo,\n      maxRows\n    },\n    kpis: { totalManifests, uniqueTrips, totalPax, totalRevenue },\n    top: {\n      columns: [\"manifestIdShort\",\"tripIdShort\",\"route\",\"departureTime\",\"arrivalTime\",\"pax\",\"revenue\"],\n      rows: rowsTop\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,0],"id":"d9a3613b-47e7-42e9-87f5-d4dc6342fd59","name":"Code_AI_SAFE_Reducer_Manifests"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"93f38605-ca9a-405c-9d33-e5a5f0011449","leftValue":"=={{ String($json.ok).toLowerCase() === 'true' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"fbac6027-7930-4009-9b78-5239b44d7370","leftValue":"=={{$json.token}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-176,208],"id":"26dfaedd-1bbc-444f-a2dc-bb85517d0f50","name":"If"},{"parameters":{"jsCode":"// Code_Return_Error (FINAL)\nreturn [{\n  json: {\n    ok: false,\n    error: $json.error ?? \"Normalize failed\",\n    details: $json\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304],"id":"1495c2bb-4706-4f3c-8420-959b11e762b4","name":"Code_Return_Error"},{"parameters":{"jsCode":"// Final_Output (FINAL) - unified response for ToolWorkflow\n\nconst j = $json ?? {};\n\n// If previous node already marked ok:false (Normalize/IF branch)\nif (j.ok === false) {\n  return [{\n    json: {\n      ok: false,\n      error: j.error ?? \"Unknown error\",\n      details: j.details ?? j,\n    }\n  }];\n}\n\n// If previous node is success but doesn't include ok, force ok:true\nreturn [{\n  json: {\n    ok: true,\n    ...j\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,192],"id":"81772170-9026-4f33-831e-3fc224724f4a","name":"Code_Final_Output"},{"parameters":{"jsCode":"const token = ($json.token ?? \"\").toString().trim();\n\nreturn [{\n  json: {\n    ...$json,\n    authHeader: token ? `Bearer ${token}` : \"\",\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"e38ad8bc-f67f-483f-8b82-6ac8b77a8e94","name":"Code_Build_AuthHeader"},{"parameters":{"url":"https://api.betterez.com/reports/trip-manifests","sendQuery":true,"queryParameters":{"parameters":[{"name":"providerId","value":"=={{$json.providerId}}"},{"name":"productId","value":"=={{$json.productId}}"},{"name":"dateFrom","value":"=={{$json.dateFrom}}"},{"name":"dateTo","value":"=={{$json.dateTo}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"=Authorization","value":"=={{$json.authHeader}}"},{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,0],"id":"e501b643-7b99-457f-97e9-181c381544cb","name":"HTTP_Rpts_Trip_Manifests"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code_Normalize_Manifests","type":"main","index":0}]]},"Code_Normalize_Manifests":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code_Build_AuthHeader","type":"main","index":0}],[{"node":"Code_Return_Error","type":"main","index":0}]]},"Code_Return_Error":{"main":[[{"node":"Code_Final_Output","type":"main","index":0}]]},"Code_AI_SAFE_Reducer_Manifests":{"main":[[{"node":"Code_Final_Output","type":"main","index":0}]]},"Code_Build_AuthHeader":{"main":[[{"node":"HTTP_Rpts_Trip_Manifests","type":"main","index":0}]]},"HTTP_Rpts_Trip_Manifests":{"main":[[{"node":"Code_AI_SAFE_Reducer_Manifests","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0cdcb8b3-0012-4117-9780-c362f0451d3e","activeVersionId":"0cdcb8b3-0012-4117-9780-c362f0451d3e","triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:25:49.979Z","createdAt":"2026-03-06T05:25:49.979Z","role":"workflow:owner","workflowId":"Xhd5b6tyxUO4BBLW","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":{"updatedAt":"2026-03-09T17:54:18.000Z","createdAt":"2026-03-06T05:25:49.981Z","versionId":"0cdcb8b3-0012-4117-9780-c362f0451d3e","workflowId":"Xhd5b6tyxUO4BBLW","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"token"},{"name":"providerId"},{"name":"productId"},{"name":"dateFrom"},{"name":"dateTo"},{"name":"maxRows"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-576,208],"id":"df48ed07-d511-4967-a758-45cab614edc5","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Code_Normalize_Manifests (FINAL v2 - minimal schema, enterprise hardening)\n\nconst isDate = (s) => /^\\d{4}-\\d{2}-\\d{2}$/.test(String(s || \"\").trim());\nconst isHex24 = (s) => /^[0-9a-f]{24}$/i.test(String(s || \"\").trim());\nconst toStr = (v) => (v ?? \"\").toString().trim();\n\nconst parseMaxRows = (v) => {\n  let n = Number(String(v ?? 20).replace(/[^0-9]/g, \"\"));\n  if (!Number.isFinite(n) || n <= 0) n = 20;\n  if (n > 50) n = 50; // AI-SAFE cap\n  return n;\n};\n\n// Required: token\nconst token = toStr($json.token);\nif (!token) {\n  return [{\n    json: {\n      ok: false,\n      error: \"token is required (Bearer JWT missing)\",\n      tokenPresent: false,\n      tokenPrefix: null,\n    }\n  }];\n}\n\nconst providerId = toStr($json.providerId);\nconst productId  = toStr($json.productId);\n\nif (!providerId) return [{ json: { ok: false, error: \"providerId is required\", tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!productId)  return [{ json: { ok: false, error: \"productId is required\", tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nif (!isHex24(providerId)) return [{ json: { ok: false, error: \"providerId must be 24-hex\", providerId, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!isHex24(productId))  return [{ json: { ok: false, error: \"productId must be 24-hex\", productId, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nconst dateFrom = toStr($json.dateFrom);\nconst dateTo   = toStr($json.dateTo || dateFrom);\n\nif (!isDate(dateFrom)) return [{ json: { ok: false, error: \"dateFrom must be YYYY-MM-DD\", dateFrom, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!isDate(dateTo))   return [{ json: { ok: false, error: \"dateTo must be YYYY-MM-DD\", dateTo, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nconst maxRows = parseMaxRows($json.maxRows);\n\nreturn [{\n  json: {\n    ok: true,\n    token,\n    tokenPresent: true,\n    tokenPrefix: token.slice(0, 12),\n    providerId,\n    productId,\n    dateFrom,\n    dateTo,\n    maxRows\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,208],"id":"9684ae19-0427-4168-b8d8-3c8f145f1c4b","name":"Code_Normalize_Manifests"},{"parameters":{"jsCode":"// Code_AI_SAFE_Reducer_Manifests (FINAL v2) - KPIs + Top Table (AI-SAFE, minimal params)\n\nconst input = $items(\"Code_Normalize_Manifests\")[0].json;\n\nconst maxRows = Number(input.maxRows ?? 20);\nconst data = $json;\n\nconst toIdShort = (id) => (id ? String(id).slice(-8) : null);\nconst getByPath = (obj, path) => path.split(\".\").reduce((a, k) => (a && a[k] !== undefined ? a[k] : undefined), obj);\nconst pick = (obj, paths) => {\n  for (const p of paths) {\n    const v = getByPath(obj, p);\n    if (v !== undefined && v !== null && v !== \"\") return v;\n  }\n  return null;\n};\n\nconst manifestsRaw =\n  Array.isArray(data.tripManifests) ? data.tripManifests :\n  Array.isArray(data.manifests) ? data.manifests :\n  Array.isArray(data.items) ? data.items :\n  [];\n\nconst rowsAll = manifestsRaw.map((m) => {\n  const manifestId = pick(m, [\"_id\", \"id\", \"tripManifestId\"]);\n  const tripId = pick(m, [\"tripId\", \"trip._id\", \"trip.id\", \"departureId\", \"departures.0.id\"]);\n\n  const origin = pick(m, [\"origin.name\", \"from.name\", \"departureStation.name\", \"origin\", \"from\"]);\n  const destination = pick(m, [\"destination.name\", \"to.name\", \"arrivalStation.name\", \"destination\", \"to\"]);\n\n  const dep = pick(m, [\"departureTime\", \"departure.time\", \"trip.departureTime\", \"trip.departure.time\", \"departures.0.departureTime\"]);\n  const arr = pick(m, [\"arrivalTime\", \"arrival.time\", \"trip.arrivalTime\", \"trip.arrival.time\", \"departures.0.arrivalTime\"]);\n\n  const pax = Number(pick(m, [\"pax\", \"paxCount\", \"passengersCount\", \"totalPassengers\", \"soldSeats\", \"ticketsSold\", \"summary.pax\"]));\n  const revenue = Number(pick(m, [\"revenue\", \"totalAmount\", \"gross\", \"sales\", \"totalSales\", \"summary.revenue\"]));\n\n  const paxSafe = Number.isFinite(pax) ? pax : null;\n  const revenueSafe = Number.isFinite(revenue) ? revenue : null;\n\n  const route = (origin && destination) ? `${origin} → ${destination}` : null;\n  const score = (revenueSafe ?? 0) * 1000000 + (paxSafe ?? 0);\n\n  return {\n    manifestId,\n    manifestIdShort: toIdShort(manifestId),\n    tripId,\n    tripIdShort: toIdShort(tripId),\n    route,\n    departureTime: dep,\n    arrivalTime: arr,\n    pax: paxSafe,\n    revenue: revenueSafe,\n    score,\n  };\n});\n\nconst totalManifests = rowsAll.length;\nconst uniqueTrips = new Set(rowsAll.map(r => r.tripId).filter(Boolean)).size;\nconst totalPax = rowsAll.reduce((acc, r) => acc + (Number.isFinite(r.pax) ? r.pax : 0), 0);\nconst totalRevenue = rowsAll.reduce((acc, r) => acc + (Number.isFinite(r.revenue) ? r.revenue : 0), 0);\n\nconst rowsTop = [...rowsAll]\n  .sort((a, b) => (b.score ?? 0) - (a.score ?? 0))\n  .slice(0, maxRows)\n  .map(({ score, ...r }) => r);\n\nreturn [{\n  json: {\n    ok: true,\n    params: {\n      providerId: input.providerId,\n      productId: input.productId,\n      dateFrom: input.dateFrom,\n      dateTo: input.dateTo,\n      maxRows\n    },\n    kpis: { totalManifests, uniqueTrips, totalPax, totalRevenue },\n    top: {\n      columns: [\"manifestIdShort\",\"tripIdShort\",\"route\",\"departureTime\",\"arrivalTime\",\"pax\",\"revenue\"],\n      rows: rowsTop\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,0],"id":"d9a3613b-47e7-42e9-87f5-d4dc6342fd59","name":"Code_AI_SAFE_Reducer_Manifests"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"93f38605-ca9a-405c-9d33-e5a5f0011449","leftValue":"=={{ String($json.ok).toLowerCase() === 'true' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"fbac6027-7930-4009-9b78-5239b44d7370","leftValue":"=={{$json.token}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-176,208],"id":"26dfaedd-1bbc-444f-a2dc-bb85517d0f50","name":"If"},{"parameters":{"jsCode":"// Code_Return_Error (FINAL)\nreturn [{\n  json: {\n    ok: false,\n    error: $json.error ?? \"Normalize failed\",\n    details: $json\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,304],"id":"1495c2bb-4706-4f3c-8420-959b11e762b4","name":"Code_Return_Error"},{"parameters":{"jsCode":"// Final_Output (FINAL) - unified response for ToolWorkflow\n\nconst j = $json ?? {};\n\n// If previous node already marked ok:false (Normalize/IF branch)\nif (j.ok === false) {\n  return [{\n    json: {\n      ok: false,\n      error: j.error ?? \"Unknown error\",\n      details: j.details ?? j,\n    }\n  }];\n}\n\n// If previous node is success but doesn't include ok, force ok:true\nreturn [{\n  json: {\n    ok: true,\n    ...j\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,192],"id":"81772170-9026-4f33-831e-3fc224724f4a","name":"Code_Final_Output"},{"parameters":{"jsCode":"const token = ($json.token ?? \"\").toString().trim();\n\nreturn [{\n  json: {\n    ...$json,\n    authHeader: token ? `Bearer ${token}` : \"\",\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"e38ad8bc-f67f-483f-8b82-6ac8b77a8e94","name":"Code_Build_AuthHeader"},{"parameters":{"url":"https://api.betterez.com/reports/trip-manifests","sendQuery":true,"queryParameters":{"parameters":[{"name":"providerId","value":"=={{$json.providerId}}"},{"name":"productId","value":"=={{$json.productId}}"},{"name":"dateFrom","value":"=={{$json.dateFrom}}"},{"name":"dateTo","value":"=={{$json.dateTo}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"=Authorization","value":"=={{$json.authHeader}}"},{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,0],"id":"e501b643-7b99-457f-97e9-181c381544cb","name":"HTTP_Rpts_Trip_Manifests"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code_Normalize_Manifests","type":"main","index":0}]]},"Code_Normalize_Manifests":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code_Build_AuthHeader","type":"main","index":0}],[{"node":"Code_Return_Error","type":"main","index":0}]]},"Code_Return_Error":{"main":[[{"node":"Code_Final_Output","type":"main","index":0}]]},"Code_AI_SAFE_Reducer_Manifests":{"main":[[{"node":"Code_Final_Output","type":"main","index":0}]]},"Code_Build_AuthHeader":{"main":[[{"node":"HTTP_Rpts_Trip_Manifests","type":"main","index":0}]]},"HTTP_Rpts_Trip_Manifests":{"main":[[{"node":"Code_AI_SAFE_Reducer_Manifests","type":"main","index":0}]]}},"authors":"ISAAC HERNANDEZ","name":"v1.0","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-06T05:25:32.084Z","createdAt":"2026-03-06T05:25:32.084Z","id":"So9PUDJvbRkI2jiZ","name":"IMHR-Transpais"},{"updatedAt":"2026-03-06T05:25:32.087Z","createdAt":"2026-03-06T05:25:32.087Z","id":"qOsCTdlXe1FynkXb","name":"BTZQa_Transpais"}]}