btz_search_products_ai_safe-CmdkivZ2W4mhjg3S.json
{"updatedAt":"2026-03-06T05:26:27.000Z","createdAt":"2026-03-06T05:26:27.531Z","id":"CmdkivZ2W4mhjg3S","name":"BTZ_Search_Products_AI_SAFE","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"06b22b8b-8733-42b8-97d5-4641a0415f33","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"return [{ json: $input.first().json }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"06abe576-b2c8-44ad-a858-293b067ec367","name":"Code_Response"},{"parameters":{"url":"=https://api.betterez.com/inventory/products","sendQuery":true,"queryParameters":{"parameters":[{"name":"name","value":"={{ ($json.name ?? '').trim().toUpperCase() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Accept","value":"*/*"},{"name":"User-Agent","value":"PostmanRuntime/7.51.1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"c5a66d6a-bd41-43d9-9d20-bfc07ecf4604","name":"HTTP Search_Station_by_Name_BTZQa"},{"parameters":{"jsCode":"const payload = $input.first().json;\n\n// La API puede devolver productos en diferentes llaves\nconst productsRaw =\n  payload.products ??\n  payload.items ??\n  payload.data ??\n  payload;\n\n// Término de búsqueda (viene del trigger y viaja en el JSON)\nconst q = String(payload.name ?? '').trim().toUpperCase();\n\n// Normaliza a arreglo\nconst arr = Array.isArray(productsRaw)\n  ? productsRaw\n  : Array.isArray(productsRaw?.products)\n    ? productsRaw.products\n    : [];\n\n// Filtra por nombre si hay término\nconst filtered = q\n  ? arr.filter(p => String(p.name ?? p.displayName ?? '').toUpperCase().includes(q))\n  : arr;\n\n// Reduce a top 20 y campos clave\nconst trimmed = filtered.slice(0, 20).map(p => ({\n  id: p._id ?? p.id,\n  name: p.name ?? p.displayName ?? '',\n  type: (p.type?.name ?? p.type ?? '').toString(),\n  code: (p.code ?? p.shortcode ?? '').toString(),\n  disabled: !!p.disabled,\n}));\n\nreturn [{ json: { count: trimmed.length, products: trimmed } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"1a69c51b-bd20-4980-8531-1fb4eee08cba","name":"Code_Reducer"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Search_Station_by_Name_BTZQa","type":"main","index":0}]]},"HTTP Search_Station_by_Name_BTZQa":{"main":[[{"node":"Code_Reducer","type":"main","index":0}]]},"Code_Reducer":{"main":[[{"node":"Code_Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"930a4bc9-c894-4994-b134-2028b2d101a7","activeVersionId":"930a4bc9-c894-4994-b134-2028b2d101a7","triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:26:27.535Z","createdAt":"2026-03-06T05:26:27.535Z","role":"workflow:owner","workflowId":"CmdkivZ2W4mhjg3S","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":{"updatedAt":"2026-03-09T17:54:04.000Z","createdAt":"2026-03-06T05:26:27.537Z","versionId":"930a4bc9-c894-4994-b134-2028b2d101a7","workflowId":"CmdkivZ2W4mhjg3S","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"06b22b8b-8733-42b8-97d5-4641a0415f33","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"return [{ json: $input.first().json }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"06abe576-b2c8-44ad-a858-293b067ec367","name":"Code_Response"},{"parameters":{"url":"=https://api.betterez.com/inventory/products","sendQuery":true,"queryParameters":{"parameters":[{"name":"name","value":"={{ ($json.name ?? '').trim().toUpperCase() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Accept","value":"*/*"},{"name":"User-Agent","value":"PostmanRuntime/7.51.1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"c5a66d6a-bd41-43d9-9d20-bfc07ecf4604","name":"HTTP Search_Station_by_Name_BTZQa"},{"parameters":{"jsCode":"const payload = $input.first().json;\n\n// La API puede devolver productos en diferentes llaves\nconst productsRaw =\n  payload.products ??\n  payload.items ??\n  payload.data ??\n  payload;\n\n// Término de búsqueda (viene del trigger y viaja en el JSON)\nconst q = String(payload.name ?? '').trim().toUpperCase();\n\n// Normaliza a arreglo\nconst arr = Array.isArray(productsRaw)\n  ? productsRaw\n  : Array.isArray(productsRaw?.products)\n    ? productsRaw.products\n    : [];\n\n// Filtra por nombre si hay término\nconst filtered = q\n  ? arr.filter(p => String(p.name ?? p.displayName ?? '').toUpperCase().includes(q))\n  : arr;\n\n// Reduce a top 20 y campos clave\nconst trimmed = filtered.slice(0, 20).map(p => ({\n  id: p._id ?? p.id,\n  name: p.name ?? p.displayName ?? '',\n  type: (p.type?.name ?? p.type ?? '').toString(),\n  code: (p.code ?? p.shortcode ?? '').toString(),\n  disabled: !!p.disabled,\n}));\n\nreturn [{ json: { count: trimmed.length, products: trimmed } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"1a69c51b-bd20-4980-8531-1fb4eee08cba","name":"Code_Reducer"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Search_Station_by_Name_BTZQa","type":"main","index":0}]]},"HTTP Search_Station_by_Name_BTZQa":{"main":[[{"node":"Code_Reducer","type":"main","index":0}]]},"Code_Reducer":{"main":[[{"node":"Code_Response","type":"main","index":0}]]}},"authors":"ISAAC HERNANDEZ","name":"v1.0","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-06T05:25:32.084Z","createdAt":"2026-03-06T05:25:32.084Z","id":"So9PUDJvbRkI2jiZ","name":"IMHR-Transpais"},{"updatedAt":"2026-03-06T05:25:32.087Z","createdAt":"2026-03-06T05:25:32.087Z","id":"qOsCTdlXe1FynkXb","name":"BTZQa_Transpais"}]}