btz_get_station_detail_by_name-nUjWiPzvgY5f4HFx.json
{"updatedAt":"2026-03-06T05:25:33.000Z","createdAt":"2026-03-06T05:25:33.690Z","id":"nUjWiPzvgY5f4HFx","name":"BTZ_Get_Station_Detail_By_Name","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"3a12d063-c3a9-490b-ad8b-9bdbb9ff6974","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"return [{ json: $input.first().json }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0],"id":"9c2b12e1-62f9-41bf-be73-b24ca4534371","name":"Code_Response"},{"parameters":{"jsCode":"const payload = $input.first().json;\nconst stations = payload.stations ?? [];\nconst stationId = stations?.[0]?._id;\n\nif (!stationId) {\n  return [{ json: { error: \"No se encontró estación con ese nombre.\", stationsFound: stations.length } }];\n}\n\nreturn [{ json: { stationId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"2df46919-d793-49c2-85d1-67d7eaca52e0","name":"Code_Extract_StationId"},{"parameters":{"url":"={{ 'https://api.betterez.com/inventory/station/' + $json.stationId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Accept","value":"*/*"},{"name":"User-Agent","value":"PostmanRuntime/7.51.1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[656,0],"id":"905415db-c837-4092-897b-84ee439bbd75","name":"HTTP Detail_ID_BTZQa"},{"parameters":{"url":"={{ 'https://api.betterez.com/inventory/stations?name=' + encodeURIComponent(($json.name ?? '').trim().toUpperCase()) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Accept","value":"*/*"},{"name":"User-Agent","value":"PostmanRuntime/7.51.1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"c4eda10d-2907-446e-8700-d115384e1737","name":"HTTP Search_Station_by_Name_BTZQa"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Search_Station_by_Name_BTZQa","type":"main","index":0}]]},"Code_Extract_StationId":{"main":[[{"node":"HTTP Detail_ID_BTZQa","type":"main","index":0}]]},"HTTP Search_Station_by_Name_BTZQa":{"main":[[{"node":"Code_Extract_StationId","type":"main","index":0}]]},"HTTP Detail_ID_BTZQa":{"main":[[{"node":"Code_Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0d70d689-a727-4cc0-826a-7d040ba648c0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:25:33.696Z","createdAt":"2026-03-06T05:25:33.696Z","role":"workflow:owner","workflowId":"nUjWiPzvgY5f4HFx","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-06T05:25:32.084Z","createdAt":"2026-03-06T05:25:32.084Z","id":"So9PUDJvbRkI2jiZ","name":"IMHR-Transpais"},{"updatedAt":"2026-03-06T05:25:32.087Z","createdAt":"2026-03-06T05:25:32.087Z","id":"qOsCTdlXe1FynkXb","name":"BTZQa_Transpais"}]}