btz_search_fares_ai_safe-uo13XAA4HhpCedf3.json
{"updatedAt":"2026-03-06T05:26:03.000Z","createdAt":"2026-03-06T05:26:03.287Z","id":"uo13XAA4HhpCedf3","name":"BTZ_Search_Fares_AI_SAFE","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"search"},{"name":"productId"},{"name":"channel"},{"name":"enabled"},{"name":"token"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,16],"id":"b9a2cb55-34e5-4f9b-b568-57fe9b55ec50","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"355e15c5-f57b-4eef-b2dd-d5277d031aeb","name":"search","value":"={{$json.search || \"\"}}","type":"string"},{"id":"389b8e18-a5c2-4aca-8625-965c15f66096","name":"productId","value":"={{$json.productId || \"\"}}","type":"string"},{"id":"07ab9226-5abd-4108-ae9d-a491aac9334d","name":"channel","value":"={{$json.channel || \"\"}}","type":"string"},{"id":"9e2fa80e-4d44-444f-bc44-8a662b951d11","name":"enabled","value":"={{$json.enabled ?? \"true\"}}","type":"string"},{"id":"3324004d-ef77-460e-b800-e58c4ea98853","name":"token","value":"={{$json.token || \"\"}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,16],"id":"3e64bbfb-329f-4673-baca-7e16c0ab2853","name":"Set_Input_Fares"},{"parameters":{"url":"=https://api.betterez.com/inventory/fares","sendQuery":true,"queryParameters":{"parameters":[{"name":"enabled","value":"={{$json.enabled ?? 'true'}}"},{"name":"channels","value":"={{$json.channel && $json.channel.trim() !== '' ? $json.channel : undefined}}"},{"name":"productIds","value":"={{$json.productId && /^[a-fA-F0-9]{24}$/.test($json.productId) ? $json.productId : undefined}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=Bearer {{$json.token}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,0],"id":"009afb18-8954-44a8-943b-ae3663d64027","name":"HTTP Inv_1.4_BTZ_Get_Fares"},{"parameters":{"jsCode":"// BTZ_Search_Fares_AI_SAFE - Reducer final (exploratorio + operativo)\n// Inputs desde Set_Input_Fares, data desde $json (HTTP anterior)\n\nconst src = $node[\"Set_Input_Fares\"]?.json ?? {};\n\nconst search  = ((src.search  ?? \"\") + \"\").trim().toLowerCase();\nconst channel = ((src.channel ?? \"\") + \"\").trim();\nconst enabled = ((src.enabled ?? \"true\") + \"\").trim();\n\n// 1) Detectar array de fares (la respuesta actual viene como { fares: [...] })\nlet faresRaw = [];\nif (Array.isArray($json)) faresRaw = $json;\nelse if ($json && Array.isArray($json.fares)) faresRaw = $json.fares;\nelse if ($json && Array.isArray($json.data)) faresRaw = $json.data;\n\n// 2) Helper disponibilidad por canal\nfunction isAvailableInChannel(fare, ch) {\n  if (!ch) return true; // modo exploración\n  const obj = fare?.channels?.[ch];\n  if (!obj) return false;\n  return obj.available === true;\n}\n\n// 3) Filtrado (exploratorio por default)\nlet filtered = faresRaw.filter(f => {\n  if (enabled === \"true\" && f.disabled === true) return false;\n\n  if (search) {\n    const name = ((f.name ?? \"\") + \"\").toLowerCase();\n    const idx  = ((f.indexableName ?? \"\") + \"\").toLowerCase();\n    if (!name.includes(search) && !idx.includes(search)) return false;\n  }\n\n  // si channel viene, modo operativo: solo disponibles\n  if (channel && !isAvailableInChannel(f, channel)) return false;\n\n  return true;\n});\n\n// 4) Orden data-driven: ord asc, luego name\nfiltered = filtered\n  .sort((a, b) => {\n    const ao = Number(a.ord ?? 999999);\n    const bo = Number(b.ord ?? 999999);\n    if (ao !== bo) return ao - bo;\n    return ((a.name ?? \"\") + \"\").localeCompare((b.name ?? \"\") + \"\");\n  })\n  .slice(0, 20); // AI-SAFE\n\n// 5) Compactar fares + extra útil (maxQty por canal si existe)\nconst fares = filtered.map(f => {\n  const chObj = channel ? f?.channels?.[channel] : null;\n  return {\n    fareId: f._id,\n    name: f.name,\n    isBaseFare: f.isBaseFare,\n    defaultQty: f.defaultQty,\n    ord: f.ord,\n    disabled: f.disabled,\n    availableInChannel: isAvailableInChannel(f, channel),\n    maxQtyInChannel: chObj?.maxQty ?? null,\n    productIds: f.productIds\n  };\n});\n\n// 6) fareIds listos para Trips (qty nunca 0)\nconst allFareIds = fares.map(x => {\n  const qty = Number(x.defaultQty);\n  const safeQty = Number.isFinite(qty) && qty > 0 ? qty : 1;\n  return `${x.fareId}:${safeQty}`;\n});\n\n// first: base fare si existe\nconst base = fares.find(x => x.isBaseFare) || fares[0];\nconst firstFareIds = base\n  ? `${base.fareId}:${(Number(base.defaultQty) > 0 ? Number(base.defaultQty) : 1)}`\n  : \"\";\n\n// recommended (exploratorio): igual a all\nconst recommendedFareIds = allFareIds;\n\nreturn [\n  {\n    json: {\n      search,\n      channel,\n      enabled,\n      count: fares.length,\n      fares,\n      fareIds: {\n        all: allFareIds,\n        available: allFareIds,\n        recommended: recommendedFareIds,\n        first: firstFareIds\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"8758a971-9e01-4a0c-a53d-b3192d8f9edc","name":"Code_Reducer_Fares"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Set_Input_Fares","type":"main","index":0}]]},"Set_Input_Fares":{"main":[[{"node":"HTTP Inv_1.4_BTZ_Get_Fares","type":"main","index":0}]]},"HTTP Inv_1.4_BTZ_Get_Fares":{"main":[[{"node":"Code_Reducer_Fares","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"e4404b15-fd68-46ac-81ec-87b837349605","activeVersionId":"e4404b15-fd68-46ac-81ec-87b837349605","triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:26:03.292Z","createdAt":"2026-03-06T05:26:03.292Z","role":"workflow:owner","workflowId":"uo13XAA4HhpCedf3","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":{"updatedAt":"2026-03-09T17:54:10.000Z","createdAt":"2026-03-06T05:26:03.294Z","versionId":"e4404b15-fd68-46ac-81ec-87b837349605","workflowId":"uo13XAA4HhpCedf3","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"search"},{"name":"productId"},{"name":"channel"},{"name":"enabled"},{"name":"token"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,16],"id":"b9a2cb55-34e5-4f9b-b568-57fe9b55ec50","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"355e15c5-f57b-4eef-b2dd-d5277d031aeb","name":"search","value":"={{$json.search || \"\"}}","type":"string"},{"id":"389b8e18-a5c2-4aca-8625-965c15f66096","name":"productId","value":"={{$json.productId || \"\"}}","type":"string"},{"id":"07ab9226-5abd-4108-ae9d-a491aac9334d","name":"channel","value":"={{$json.channel || \"\"}}","type":"string"},{"id":"9e2fa80e-4d44-444f-bc44-8a662b951d11","name":"enabled","value":"={{$json.enabled ?? \"true\"}}","type":"string"},{"id":"3324004d-ef77-460e-b800-e58c4ea98853","name":"token","value":"={{$json.token || \"\"}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,16],"id":"3e64bbfb-329f-4673-baca-7e16c0ab2853","name":"Set_Input_Fares"},{"parameters":{"url":"=https://api.betterez.com/inventory/fares","sendQuery":true,"queryParameters":{"parameters":[{"name":"enabled","value":"={{$json.enabled ?? 'true'}}"},{"name":"channels","value":"={{$json.channel && $json.channel.trim() !== '' ? $json.channel : undefined}}"},{"name":"productIds","value":"={{$json.productId && /^[a-fA-F0-9]{24}$/.test($json.productId) ? $json.productId : undefined}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=Bearer {{$json.token}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,0],"id":"009afb18-8954-44a8-943b-ae3663d64027","name":"HTTP Inv_1.4_BTZ_Get_Fares"},{"parameters":{"jsCode":"// BTZ_Search_Fares_AI_SAFE - Reducer final (exploratorio + operativo)\n// Inputs desde Set_Input_Fares, data desde $json (HTTP anterior)\n\nconst src = $node[\"Set_Input_Fares\"]?.json ?? {};\n\nconst search  = ((src.search  ?? \"\") + \"\").trim().toLowerCase();\nconst channel = ((src.channel ?? \"\") + \"\").trim();\nconst enabled = ((src.enabled ?? \"true\") + \"\").trim();\n\n// 1) Detectar array de fares (la respuesta actual viene como { fares: [...] })\nlet faresRaw = [];\nif (Array.isArray($json)) faresRaw = $json;\nelse if ($json && Array.isArray($json.fares)) faresRaw = $json.fares;\nelse if ($json && Array.isArray($json.data)) faresRaw = $json.data;\n\n// 2) Helper disponibilidad por canal\nfunction isAvailableInChannel(fare, ch) {\n  if (!ch) return true; // modo exploración\n  const obj = fare?.channels?.[ch];\n  if (!obj) return false;\n  return obj.available === true;\n}\n\n// 3) Filtrado (exploratorio por default)\nlet filtered = faresRaw.filter(f => {\n  if (enabled === \"true\" && f.disabled === true) return false;\n\n  if (search) {\n    const name = ((f.name ?? \"\") + \"\").toLowerCase();\n    const idx  = ((f.indexableName ?? \"\") + \"\").toLowerCase();\n    if (!name.includes(search) && !idx.includes(search)) return false;\n  }\n\n  // si channel viene, modo operativo: solo disponibles\n  if (channel && !isAvailableInChannel(f, channel)) return false;\n\n  return true;\n});\n\n// 4) Orden data-driven: ord asc, luego name\nfiltered = filtered\n  .sort((a, b) => {\n    const ao = Number(a.ord ?? 999999);\n    const bo = Number(b.ord ?? 999999);\n    if (ao !== bo) return ao - bo;\n    return ((a.name ?? \"\") + \"\").localeCompare((b.name ?? \"\") + \"\");\n  })\n  .slice(0, 20); // AI-SAFE\n\n// 5) Compactar fares + extra útil (maxQty por canal si existe)\nconst fares = filtered.map(f => {\n  const chObj = channel ? f?.channels?.[channel] : null;\n  return {\n    fareId: f._id,\n    name: f.name,\n    isBaseFare: f.isBaseFare,\n    defaultQty: f.defaultQty,\n    ord: f.ord,\n    disabled: f.disabled,\n    availableInChannel: isAvailableInChannel(f, channel),\n    maxQtyInChannel: chObj?.maxQty ?? null,\n    productIds: f.productIds\n  };\n});\n\n// 6) fareIds listos para Trips (qty nunca 0)\nconst allFareIds = fares.map(x => {\n  const qty = Number(x.defaultQty);\n  const safeQty = Number.isFinite(qty) && qty > 0 ? qty : 1;\n  return `${x.fareId}:${safeQty}`;\n});\n\n// first: base fare si existe\nconst base = fares.find(x => x.isBaseFare) || fares[0];\nconst firstFareIds = base\n  ? `${base.fareId}:${(Number(base.defaultQty) > 0 ? Number(base.defaultQty) : 1)}`\n  : \"\";\n\n// recommended (exploratorio): igual a all\nconst recommendedFareIds = allFareIds;\n\nreturn [\n  {\n    json: {\n      search,\n      channel,\n      enabled,\n      count: fares.length,\n      fares,\n      fareIds: {\n        all: allFareIds,\n        available: allFareIds,\n        recommended: recommendedFareIds,\n        first: firstFareIds\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"8758a971-9e01-4a0c-a53d-b3192d8f9edc","name":"Code_Reducer_Fares"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Set_Input_Fares","type":"main","index":0}]]},"Set_Input_Fares":{"main":[[{"node":"HTTP Inv_1.4_BTZ_Get_Fares","type":"main","index":0}]]},"HTTP Inv_1.4_BTZ_Get_Fares":{"main":[[{"node":"Code_Reducer_Fares","type":"main","index":0}]]}},"authors":"ISAAC HERNANDEZ","name":"v1.0","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-06T05:25:32.084Z","createdAt":"2026-03-06T05:25:32.084Z","id":"So9PUDJvbRkI2jiZ","name":"IMHR-Transpais"},{"updatedAt":"2026-03-06T05:25:32.087Z","createdAt":"2026-03-06T05:25:32.087Z","id":"qOsCTdlXe1FynkXb","name":"BTZQa_Transpais"}]}