btz_search_stations_ai_safe-roKSbq5PkFPnkJss.json
{"updatedAt":"2026-03-06T05:26:50.000Z","createdAt":"2026-03-06T05:26:50.153Z","id":"roKSbq5PkFPnkJss","name":"BTZ_Search_Stations_AI_SAFE","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"cda7e2b1-2680-44d7-84e4-8009ae4ade0d","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const payload = $input.first().json;\nconst stations = payload.stations ?? [];\n\nconst trimmed = stations.slice(0, 20).map(s => ({\n  id: s._id || s.id,\n  name: s.name,\n  province: s.province,\n  code: s.shortcode || s.seriesNumber || s.shortcode,\n}));\n\nreturn [{ json: { count: trimmed.length, stations: trimmed } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"afda4941-fd24-4f69-993b-e64165952f48","name":"Code_Reducer"},{"parameters":{"jsCode":"return [{ json: $input.first().json }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"3a4d1b26-7859-46df-9002-37dcdee8d6ab","name":"Code_Response"},{"parameters":{"url":"={{ 'https://api.betterez.com/inventory/stations?name=' + encodeURIComponent(($json.name ?? '').trim().toUpperCase()) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Accept","value":"*/*"},{"name":"User-Agent","value":"PostmanRuntime/7.51.1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"ce403de4-a497-4e80-8287-9e7584f0bb67","name":"HTTP Request_BTZQa"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request_BTZQa","type":"main","index":0}]]},"Code_Reducer":{"main":[[{"node":"Code_Response","type":"main","index":0}]]},"HTTP Request_BTZQa":{"main":[[{"node":"Code_Reducer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"e0df0219-b1b8-48ba-ae23-a98f34dbbdc6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:26:50.157Z","createdAt":"2026-03-06T05:26:50.157Z","role":"workflow:owner","workflowId":"roKSbq5PkFPnkJss","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-06T05:25:32.084Z","createdAt":"2026-03-06T05:25:32.084Z","id":"So9PUDJvbRkI2jiZ","name":"IMHR-Transpais"},{"updatedAt":"2026-03-06T05:25:32.087Z","createdAt":"2026-03-06T05:25:32.087Z","id":"qOsCTdlXe1FynkXb","name":"BTZQa_Transpais"}]}