btz_search_stations_ai_safe-4L26Waro6bf1hRCp.json
{"updatedAt":"2026-03-06T05:27:28.000Z","createdAt":"2026-03-06T05:27:28.411Z","id":"4L26Waro6bf1hRCp","name":"BTZ_Search_Stations_AI_SAFE","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"token"},{"name":"stationQuery"},{"name":"maxResults","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"0443ff90-2d91-4868-8879-75b98c54e00d","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Code_AI-SAFE Reducer (final - con Autopick + Confirmación)\n\nconst input = $items(\"Code_Normalize_Stations\")[0].json;\n\nconst q = (input.q ?? \"\").toString().trim();\nlet maxResults = Number(input.maxResults ?? 20);\nif (!Number.isFinite(maxResults) || maxResults <= 0) maxResults = 20;\nif (maxResults > 20) maxResults = 20; // AI-SAFE cap\n\n// Respuesta del HTTP\nconst data = $json;\nconst stationsRaw = Array.isArray(data.stations) ? data.stations : [];\n\nconst stations = stationsRaw.slice(0, maxResults).map((s) => ({\n  id: s._id ?? null,\n  name: s.name ?? null,\n  city: s.city ?? null,\n  province: s.province ?? null,\n  country: s.country ?? null,\n  shortcode: s.shortcode ?? null,\n  zone: s.zone ?? null,\n  disabled: s.disabled ?? null,\n  deleted: s.deleted ?? null,\n}));\n\n// Heurística bestMatch + tipo de match (para “confianza”)\nconst qLower = q.toLowerCase();\nconst qUpper = q.toUpperCase();\n\nlet bestMatch = null;\nlet matchType = null;\n\nbestMatch = stations.find((s) => (s.shortcode ?? \"\").toUpperCase() === qUpper);\nif (bestMatch) matchType = \"shortcode_exact\";\n\nif (!bestMatch) {\n  bestMatch = stations.find((s) => (s.name ?? \"\").toLowerCase() === qLower);\n  if (bestMatch) matchType = \"name_exact\";\n}\n\nif (!bestMatch) {\n  bestMatch = stations.find((s) => (s.name ?? \"\").toLowerCase().includes(qLower));\n  if (bestMatch) matchType = \"name_includes\";\n}\n\n// ✅ Autopick (Opción A) + fallback\nlet selectedStation = null;\nlet needsConfirmation = false;\nlet selectionStrategy = null;\n\nif (bestMatch?.id) {\n  selectedStation = bestMatch;\n  selectionStrategy = `bestMatch:${matchType}`;\n} else if (stations.length === 1 && stations[0]?.id) {\n  selectedStation = stations[0];\n  selectionStrategy = \"only_candidate\";\n} else if (stations.length > 1) {\n  // ⚠️ ambigüedad → Opción B (pedir confirmación)\n  needsConfirmation = true;\n  selectionStrategy = \"ambiguous_needs_user_choice\";\n} else {\n  selectionStrategy = \"no_results\";\n}\n\nreturn [{\n  json: {\n    ok: true,\n    query: q,\n    count: data.count ?? stationsRaw.length,\n    returned: stationsRaw.length,\n\n    // Para decisiones automáticas:\n    bestMatch,\n    matchType,\n\n    selectedStationId: selectedStation?.id ?? null,\n    selectedStationName: selectedStation?.name ?? null,\n    needsConfirmation,\n    selectionStrategy,\n\n    // Lista AI-SAFE para mostrar opciones:\n    stations,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"id":"a57796d8-c3fc-46ca-9d28-21aa3255d32b","name":"Code_AI-SAFE Reducer"},{"parameters":{"url":"=https://api.betterez.com/inventory/stations","sendQuery":true,"queryParameters":{"parameters":[{"name":"partialName","value":"=={{$json.q}}"},{"name":"page","value":"=1"},{"name":"orderBy","value":"=name"},{"name":"orderDir","value":"=1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=={{ $json.token ? `Bearer ${$json.token}` : undefined }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[432,0],"id":"b7a15974-4c78-47c8-b1be-43d49d82dec9","name":"HTTP_BTZ - Stations Search"},{"parameters":{"jsCode":"// Code_Normalize_Stations (FINAL - hardening + soft token validation)\n\n// 1) stationQuery (obligatorio)\nconst stationQuery =\n  ($json.stationQuery ?? $json.name ?? $json.query ?? \"\")\n    .toString()\n    .trim();\n\nif (!stationQuery) {\n  return [{ json: { ok: false, error: \"stationQuery is required\" } }];\n}\n\n// 2) Normalizar espacios\nconst q = stationQuery.replace(/\\s+/g, \" \");\n\n// 3) Token (opcional, validación suave)\nconst token = ($json.token ?? \"\").toString().trim();\nconst tokenMissing = !token;\n\n// 4) maxResults (Trigger puede traer String)\nconst maxResultsRaw = $json.maxResults ?? 20;\nlet maxResults = Number(maxResultsRaw);\n\nif (!Number.isFinite(maxResults) || maxResults <= 0) maxResults = 20;\nif (maxResults > 20) maxResults = 20; // AI-SAFE cap\n\n// 5) Output normalizado\nreturn [{\n  json: {\n    ok: true,\n    q,\n    token,                 // puede ir vacío\n    tokenMissing,          // bandera para debugging/decisiones\n    warning: tokenMissing ? \"token missing: request will rely on x-api-key only\" : null,\n    maxResults\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"f69948db-a677-4d32-b79b-f48c66513926","name":"Code_Normalize_Stations"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code_Normalize_Stations","type":"main","index":0}]]},"HTTP_BTZ - Stations Search":{"main":[[{"node":"Code_AI-SAFE Reducer","type":"main","index":0}]]},"Code_Normalize_Stations":{"main":[[{"node":"HTTP_BTZ - Stations Search","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d8cb104f-1cce-4722-941e-c4296f907f51","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:27:28.415Z","createdAt":"2026-03-06T05:27:28.415Z","role":"workflow:owner","workflowId":"4L26Waro6bf1hRCp","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-06T05:25:32.084Z","createdAt":"2026-03-06T05:25:32.084Z","id":"So9PUDJvbRkI2jiZ","name":"IMHR-Transpais"},{"updatedAt":"2026-03-06T05:25:32.087Z","createdAt":"2026-03-06T05:25:32.087Z","id":"qOsCTdlXe1FynkXb","name":"BTZQa_Transpais"}]}