btz_trips_search_ai_safe-57faBkSx4eXj26SH.json
{"updatedAt":"2026-03-09T17:53:19.907Z","createdAt":"2026-03-06T05:28:09.135Z","id":"57faBkSx4eXj26SH","name":"BTZ_Trips_Search_AI_SAFE","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"token"},{"name":"productId"},{"name":"originId"},{"name":"destinationId"},{"name":"departureDate"},{"name":"fareIds"},{"name":"maxResults"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"e0702dda-4d1d-4a90-907c-a9ee51717ef0","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// BTZ_Trips_Search_AI_SAFE - Reducer v2 (AI-SAFE)\n// Mejora: toma departureTime real, convierte precio a MXN, shortId útil\n\nconst maxN = (() => {\n  const raw = $json.maxResults ?? \"3\";\n  const n = parseInt(String(raw), 10);\n  return Number.isFinite(n) && n > 0 ? Math.min(n, 10) : 3;\n})();\n\n// Detectar body (por si viene envuelto)\nconst body = (() => {\n  if ($json?.trips) return $json;\n  if ($json?.data?.trips) return $json.data;\n  if (Array.isArray($json) && $json[0]?.trips) return $json[0];\n  return $json;\n})();\n\nconst departures = body?.trips?.departures ?? [];\n\nconst toStr = (v) => (v ?? \"\") + \"\";\n\n// Heurística para price -> MXN\nfunction toMxn(priceRaw) {\n  if (priceRaw === null || priceRaw === undefined) return null;\n  const n = Number(priceRaw);\n  if (!Number.isFinite(n)) return null;\n\n  // casos típicos:\n  // 1399.00 ya viene bien\n  if (n < 100000) return n;\n\n  // 139900000 -> 1399.00 (div 100000)\n  if (n >= 1000000) return n / 100000;\n\n  // fallback conservador\n  return n;\n}\n\nconst options = departures.slice(0, maxN).map((d, idx) => {\n  const depId = toStr(d.id);\n\n  const depTime =\n    toStr(d.departureTime) ||\n    toStr(d?.segments?.[0]?.time) ||\n    \"\";\n\n  const arrTime =\n    toStr(d.arrivalTime) ||\n    \"\";\n\n  const duration =\n    d?.duration ??\n    d?.durationInMinutes ??\n    \"\";\n\n  const priceRaw =\n    d?.prices?.[0]?.amount ??\n    d?.price?.amount ??\n    d?.price ??\n    null;\n\n  const priceMxn = toMxn(priceRaw);\n\n  const last8 = depId ? depId.slice(-8) : \"\";\n  const depShort = depTime && last8 ? `${depTime}-${last8}` : (depId ? depId.slice(0, 16) : \"\");\n\n  return {\n    option: idx + 1,\n    departureId: depId,\n    departureIdShort: depShort,\n    departureTime: depTime,\n    arrivalTime: arrTime,\n    duration,\n    priceMxn: priceMxn,     // número (ej. 1399)\n    priceRaw: priceRaw      // para auditoría\n  };\n});\n\nreturn [\n  {\n    json: {\n      _debug: {\n        departuresCount: departures.length,\n        maxResults: maxN\n      },\n      options,\n      firstDepartureId: options?.[0]?.departureId ?? \"\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"id":"9cf8a2bf-9d14-48ea-96c7-b4c763308460","name":"Code_Reducer_Fares"},{"parameters":{"url":"=https://api.betterez.com/inventory-trips/trips","sendQuery":true,"queryParameters":{"parameters":[{"name":"productId","value":"={{$json.productId}}"},{"name":"originId","value":"={{$json.originId}}"},{"name":"destinationId","value":"={{$json.destinationId}}"},{"name":"departureDate","value":"={{$json.departureDate}}"},{"name":"fareIds","value":"={{$json.fareIds}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=Bearer {{$json.token}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[256,0],"id":"a1bf20cd-2300-4485-b6d2-1bef4497396c","name":"HTTP Trips_4.1_Search"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Trips_4.1_Search","type":"main","index":0}]]},"HTTP Trips_4.1_Search":{"main":[[{"node":"Code_Reducer_Fares","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"4bc00170-7d9b-45c7-84c5-dadcf1ec9716","activeVersionId":"4bc00170-7d9b-45c7-84c5-dadcf1ec9716","triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:28:09.141Z","createdAt":"2026-03-06T05:28:09.141Z","role":"workflow:owner","workflowId":"57faBkSx4eXj26SH","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":{"updatedAt":"2026-03-09T17:52:57.000Z","createdAt":"2026-03-06T05:28:09.142Z","versionId":"4bc00170-7d9b-45c7-84c5-dadcf1ec9716","workflowId":"57faBkSx4eXj26SH","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"token"},{"name":"productId"},{"name":"originId"},{"name":"destinationId"},{"name":"departureDate"},{"name":"fareIds"},{"name":"maxResults"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"e0702dda-4d1d-4a90-907c-a9ee51717ef0","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// BTZ_Trips_Search_AI_SAFE - Reducer v2 (AI-SAFE)\n// Mejora: toma departureTime real, convierte precio a MXN, shortId útil\n\nconst maxN = (() => {\n  const raw = $json.maxResults ?? \"3\";\n  const n = parseInt(String(raw), 10);\n  return Number.isFinite(n) && n > 0 ? Math.min(n, 10) : 3;\n})();\n\n// Detectar body (por si viene envuelto)\nconst body = (() => {\n  if ($json?.trips) return $json;\n  if ($json?.data?.trips) return $json.data;\n  if (Array.isArray($json) && $json[0]?.trips) return $json[0];\n  return $json;\n})();\n\nconst departures = body?.trips?.departures ?? [];\n\nconst toStr = (v) => (v ?? \"\") + \"\";\n\n// Heurística para price -> MXN\nfunction toMxn(priceRaw) {\n  if (priceRaw === null || priceRaw === undefined) return null;\n  const n = Number(priceRaw);\n  if (!Number.isFinite(n)) return null;\n\n  // casos típicos:\n  // 1399.00 ya viene bien\n  if (n < 100000) return n;\n\n  // 139900000 -> 1399.00 (div 100000)\n  if (n >= 1000000) return n / 100000;\n\n  // fallback conservador\n  return n;\n}\n\nconst options = departures.slice(0, maxN).map((d, idx) => {\n  const depId = toStr(d.id);\n\n  const depTime =\n    toStr(d.departureTime) ||\n    toStr(d?.segments?.[0]?.time) ||\n    \"\";\n\n  const arrTime =\n    toStr(d.arrivalTime) ||\n    \"\";\n\n  const duration =\n    d?.duration ??\n    d?.durationInMinutes ??\n    \"\";\n\n  const priceRaw =\n    d?.prices?.[0]?.amount ??\n    d?.price?.amount ??\n    d?.price ??\n    null;\n\n  const priceMxn = toMxn(priceRaw);\n\n  const last8 = depId ? depId.slice(-8) : \"\";\n  const depShort = depTime && last8 ? `${depTime}-${last8}` : (depId ? depId.slice(0, 16) : \"\");\n\n  return {\n    option: idx + 1,\n    departureId: depId,\n    departureIdShort: depShort,\n    departureTime: depTime,\n    arrivalTime: arrTime,\n    duration,\n    priceMxn: priceMxn,     // número (ej. 1399)\n    priceRaw: priceRaw      // para auditoría\n  };\n});\n\nreturn [\n  {\n    json: {\n      _debug: {\n        departuresCount: departures.length,\n        maxResults: maxN\n      },\n      options,\n      firstDepartureId: options?.[0]?.departureId ?? \"\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"id":"9cf8a2bf-9d14-48ea-96c7-b4c763308460","name":"Code_Reducer_Fares"},{"parameters":{"url":"=https://api.betterez.com/inventory-trips/trips","sendQuery":true,"queryParameters":{"parameters":[{"name":"productId","value":"={{$json.productId}}"},{"name":"originId","value":"={{$json.originId}}"},{"name":"destinationId","value":"={{$json.destinationId}}"},{"name":"departureDate","value":"={{$json.departureDate}}"},{"name":"fareIds","value":"={{$json.fareIds}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=Bearer {{$json.token}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[256,0],"id":"a1bf20cd-2300-4485-b6d2-1bef4497396c","name":"HTTP Trips_4.1_Search"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Trips_4.1_Search","type":"main","index":0}]]},"HTTP Trips_4.1_Search":{"main":[[{"node":"Code_Reducer_Fares","type":"main","index":0}]]}},"authors":"ISAAC HERNANDEZ","name":"v1.0","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-06T05:25:32.084Z","createdAt":"2026-03-06T05:25:32.084Z","id":"So9PUDJvbRkI2jiZ","name":"IMHR-Transpais"},{"updatedAt":"2026-03-06T05:25:32.087Z","createdAt":"2026-03-06T05:25:32.087Z","id":"qOsCTdlXe1FynkXb","name":"BTZQa_Transpais"}]}