btz_rpts_trip_manifests_ai_safe-Xhd5b6tyxUO4BBLW.json
{"updatedAt":"2026-03-13T04:54:35.259Z","createdAt":"2026-03-06T05:25:49.972Z","id":"Xhd5b6tyxUO4BBLW","name":"Btz_Rpts_Trip_Manifests_AI_SAFE","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"token"},{"name":"providerId"},{"name":"productId"},{"name":"dateFrom"},{"name":"dateTo"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-896,176],"id":"df48ed07-d511-4967-a758-45cab614edc5","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Code_Normalize_Manifests (FINAL v2 - minimal schema, enterprise hardening)\n\nconst isDate = (s) => /^\\d{4}-\\d{2}-\\d{2}$/.test(String(s || \"\").trim());\nconst isHex24 = (s) => /^[0-9a-f]{24}$/i.test(String(s || \"\").trim());\nconst toStr = (v) => (v ?? \"\").toString().trim();\n\nconst parseMaxRows = (v) => {\n  let n = Number(String(v ?? 20).replace(/[^0-9]/g, \"\"));\n  if (!Number.isFinite(n) || n <= 0) n = 20;\n  if (n > 50) n = 50; // AI-SAFE cap\n  return n;\n};\n\n// Required: token\nconst token = toStr($json.token);\nif (!token) {\n  return [{\n    json: {\n      ok: false,\n      error: \"token is required (Bearer JWT missing)\",\n      tokenPresent: false,\n      tokenPrefix: null,\n    }\n  }];\n}\n\nconst providerId = toStr($json.providerId);\nconst productId  = toStr($json.productId);\n\nif (!providerId) return [{ json: { ok: false, error: \"providerId is required\", tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!productId)  return [{ json: { ok: false, error: \"productId is required\", tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nif (!isHex24(providerId)) return [{ json: { ok: false, error: \"providerId must be 24-hex\", providerId, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!isHex24(productId))  return [{ json: { ok: false, error: \"productId must be 24-hex\", productId, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nconst dateFrom = toStr($json.dateFrom);\nconst dateTo   = toStr($json.dateTo || dateFrom);\n\nif (!isDate(dateFrom)) return [{ json: { ok: false, error: \"dateFrom must be YYYY-MM-DD\", dateFrom, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!isDate(dateTo))   return [{ json: { ok: false, error: \"dateTo must be YYYY-MM-DD\", dateTo, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nconst maxRows = parseMaxRows($json.maxRows);\n\nreturn [{\n  json: {\n    ok: true,\n    token,\n    tokenPresent: true,\n    tokenPrefix: token.slice(0, 12),\n    providerId,\n    productId,\n    dateFrom,\n    dateTo,\n    maxRows\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,176],"id":"9684ae19-0427-4168-b8d8-3c8f145f1c4b","name":"Code_Normalize_Manifests"},{"parameters":{"jsCode":"// ============================================================\n// Code_AI_SAFE_Reducer_Manifests v3.0\n// Basado en estructura REAL confirmada del JSON de Betterez\n// Subworkflow: Btz_Rpts_Trip_Manifests_AI_SAFE\n// ============================================================\n\n// --- Parámetros del nodo anterior ---\nconst input = $items(\"Code_Normalize_Manifests\")[0].json;\nconst maxRows = Number(input.maxRows ?? 20);\n\n// --- Recibir el array directo de la API ---\n// La API devuelve: [ { manifest:{...}, tickets:[...] }, ... ]\nconst raw = $input.first().json;\n\n// Verificar que sea un array válido\nif (!Array.isArray(raw) || raw.length === 0) {\n  return [{\n    json: {\n      ok: false,\n      params: {\n        providerId: input.providerId,\n        productId: input.productId,\n        dateFrom: input.dateFrom,\n        dateTo: input.dateTo,\n        maxRows\n      },\n      mensaje: \"No se encontraron manifests para los parámetros indicados.\",\n      kpis: null,\n      top: null\n    }\n  }];\n}\n\n// --- ID corto (últimos 6 caracteres) ---\nconst toIdShort = (id) => (id ? String(id).slice(-6) : 'N/D');\n\n// --- Acumuladores globales ---\nlet totalCapacidad = 0;\nlet totalReservados = 0;\nlet totalIngresoMicros = 0;\nlet totalBoletos = 0;\n\n// --- Procesar cada manifest ---\nconst rowsAll = raw.map((item, idx) => {\n\n  const m = item.manifest || {};\n  const tickets = item.tickets || [];\n  const legs = m.legs || [];\n\n  // Origen y destino desde legs\n  const origen = legs.length > 0 ? legs[0].station : 'N/D';\n  const destino = legs.length > 0 ? legs[legs.length - 1].toStation : 'N/D';\n\n  // Ocupación\n  const capacidad = m.capacity || 0;\n  const reservados = m.totalReserved || 0;\n  const pctOcup = capacidad > 0 ? Math.round((reservados / capacidad) * 100) : 0;\n\n  // Ingresos (micros → MXN)\n  const ingresoMicros = tickets.reduce((s, t) => s + (t.total || 0), 0);\n  const ingresoMXN = +(ingresoMicros / 1000000).toFixed(2);\n\n  // Duración legible\n  const durMin = m.duration || 0;\n  const duracion = `${Math.floor(durMin/60)}h ${durMin%60}m`;\n\n  // Fecha limpia\n  const fecha = (m.date?.value || '').slice(0, 10) || 'N/D';\n\n  // Acumular KPIs\n  totalCapacidad += capacidad;\n  totalReservados += reservados;\n  totalIngresoMicros += ingresoMicros;\n  totalBoletos += tickets.length;\n\n  return {\n    n: idx + 1,\n    idShort: toIdShort(m._id),\n    ruta: m.scheduleDisplayName || 'N/D',\n    fecha,\n    salida: m.time || 'N/D',\n    llegada: m.arrivalTime || 'N/D',\n    origen,\n    destino,\n    brand: m.brandName || 'N/D',\n    status: m.status || 'N/D',\n    capacidad,\n    reservados,\n    ocupacion: `${pctOcup}%`,\n    distKm: m.distance || 0,\n    duracion,\n    ingresoMXN,\n    boletos: tickets.length\n  };\n});\n\n// --- KPIs globales ---\nconst ocupGlobal = totalCapacidad > 0\n  ? Math.round((totalReservados / totalCapacidad) * 100)\n  : 0;\n\n// --- Ordenar por ingreso (mayor primero) y limitar filas ---\nconst rowsTop = [...rowsAll]\n  .sort((a, b) => b.ingresoMXN - a.ingresoMXN)\n  .slice(0, maxRows);\n\n// --- Salida final para el AI Agent ---\nreturn [{\n  json: {\n    ok: true,\n    params: {\n      providerId: input.providerId,\n      productId: input.productId,\n      dateFrom: input.dateFrom,\n      dateTo: input.dateTo,\n      maxRows\n    },\n    kpis: {\n      totalViajes: raw.length,\n      totalCapacidad,\n      totalReservados,\n      ocupacionGlobal: `${ocupGlobal}%`,\n      totalBoletos,\n      ingresoTotal: `$${(totalIngresoMicros/1000000).toFixed(2)} MXN`\n    },\n    top: {\n      columns: [\"n\",\"idShort\",\"ruta\",\"fecha\",\"salida\",\"llegada\",\n                \"origen\",\"destino\",\"brand\",\"status\",\n                \"capacidad\",\"reservados\",\"ocupacion\",\n                \"distKm\",\"duracion\",\"ingresoMXN\",\"boletos\"],\n      rows: rowsTop\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,16],"id":"d9a3613b-47e7-42e9-87f5-d4dc6342fd59","name":"Code_AI_SAFE_Reducer_Manifests"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"93f38605-ca9a-405c-9d33-e5a5f0011449","leftValue":"=={{ String($json.ok).toLowerCase() === 'true' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"fbac6027-7930-4009-9b78-5239b44d7370","leftValue":"=={{$json.token}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-512,176],"id":"26dfaedd-1bbc-444f-a2dc-bb85517d0f50","name":"If"},{"parameters":{"jsCode":"// Code_Return_Error (FINAL)\nreturn [{\n  json: {\n    ok: false,\n    error: $json.error ?? \"Normalize failed\",\n    details: $json\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,320],"id":"1495c2bb-4706-4f3c-8420-959b11e762b4","name":"Code_Return_Error"},{"parameters":{"jsCode":"// Final_Output (FINAL) - unified response for ToolWorkflow\n\nconst j = $json ?? {};\n\n// If previous node already marked ok:false (Normalize/IF branch)\nif (j.ok === false) {\n  return [{\n    json: {\n      ok: false,\n      error: j.error ?? \"Unknown error\",\n      details: j.details ?? j,\n    }\n  }];\n}\n\n// If previous node is success but doesn't include ok, force ok:true\nreturn [{\n  json: {\n    ok: true,\n    ...j\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,160],"id":"81772170-9026-4f33-831e-3fc224724f4a","name":"Code_Final_Output"},{"parameters":{"jsCode":"const loginData = $('Login_BTZ_Manifests').first().json;\nconst coreData  = $('Code_Normalize_Manifests').first().json;\n\nconst freshToken = (loginData?.shortToken ?? \"\").toString().trim();\nconst tokenFinal = freshToken || (coreData?.token ?? \"\").toString().trim();\n\n// Leer cada campo explícitamente — no depender del spread\nconst providerId = (coreData.providerId ?? \"\").toString().trim();\nconst productId  = (coreData.productId  ?? \"\").toString().trim();\nconst dateFrom   = (coreData.dateFrom   ?? \"\").toString().trim();\nconst dateTo     = (coreData.dateTo     ?? \"\").toString().trim();\nconst maxRows    = coreData.maxRows ?? 20;\n\nreturn [{\n  json: {\n    providerId:  providerId,\n    productId:   productId,\n    dateFrom:    dateFrom,\n    dateTo:      dateTo,\n    maxRows:     maxRows,\n    authHeader:  tokenFinal ? \"Bearer \" + tokenFinal : \"\",\n    tokenLength: tokenFinal.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,-160],"id":"e38ad8bc-f67f-483f-8b82-6ac8b77a8e94","name":"Code_Build_AuthHeader"},{"parameters":{"url":"https://api.betterez.com/operations/manifests","sendQuery":true,"queryParameters":{"parameters":[{"name":"productId","value":"=={{$json.productId}}"},{"name":"dateFrom","value":"=={{$json.dateFrom}}"},{"name":"dateTo","value":"=={{$json.dateTo}}"},{"name":"providerIds","value":"=={{$json.providerId}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"=Authorization","value":"=Bearer {{$json.token}}"},{"name":"Accept","value":"application/json"}]},"options":{"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[192,-112],"id":"e501b643-7b99-457f-97e9-181c381544cb","name":"HTTP_Rpts_Trip_Manifests"},{"parameters":{"method":"POST","url":"https://api.betterez.com/accounts/users","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"Basic aXNhYWMuaGVybmFuZGV6K3FhdHJhbnNwYWlzQHRyYW5zcGFpcy5jb20ubXg6SXNhMDdoZXJhITA3IQ=="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"audience","value":"isaac-api-qa"},{"name":"channel","value":"backoffice"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-320,16],"id":"de10175a-a814-4827-b4d5-c500f883ac87","name":"Login_BTZ_Manifests"},{"parameters":{"jsCode":"const http2 = require('http2');\n\nconst input = $input.first().json;\nconst providerId = input.providerId;\nconst productId  = input.productId;\nconst dateFrom   = input.dateFrom;\nconst dateTo     = input.dateTo;\nconst authHeader = input.authHeader;\n\nconst apiPath = '/operations/manifests?providerId=' + encodeURIComponent(providerId) +\n  '&productId=' + encodeURIComponent(productId) +\n  '&dateFrom='  + encodeURIComponent(dateFrom) +\n  '&dateTo='    + encodeURIComponent(dateTo);\n\nconst data = await new Promise((resolve, reject) => {\n\n  const client = http2.connect('https://api.betterez.com', {\n    settings: { headerTableSize: 65536 }\n  });\n\n  client.on('error', (err) => {\n    reject(new Error('Client error: ' + err.message));\n  });\n\n  const reqHeaders = {\n    ':method':       'GET',\n    ':path':         apiPath,\n    ':authority':    'api.betterez.com',\n    ':scheme':       'https',\n    'x-api-key':     '8af2a813-c77b-4c2c-90ed-2dab3461242a',\n    'authorization': authHeader,\n    'accept':        'application/json',\n    'user-agent':    'n8n-client/1.0'\n  };\n\n  const req = client.request(reqHeaders);\n  req.setEncoding('utf8');\n\n  let body = '';\n  let statusCode = 0;\n\n  req.on('response', (headers) => {\n    statusCode = headers[':status'];\n  });\n\n  req.on('data', (chunk) => { body += chunk; });\n\n  req.on('end', () => {\n    client.close();\n    if (statusCode >= 200 && statusCode < 300) {\n      try {\n        resolve(JSON.parse(body));\n      } catch(e) {\n        reject(new Error('JSON parse error: ' + body.slice(0, 300)));\n      }\n    } else {\n      reject(new Error('HTTP ' + statusCode + ': ' + body.slice(0, 300)));\n    }\n  });\n\n  req.on('error', (err) => {\n    client.close();\n    reject(new Error('Request error: ' + err.message));\n  });\n\n  req.end();\n});\n\nconst manifests = Array.isArray(data) ? data : (data.results || data.manifests || [data]);\nreturn manifests.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,-496],"id":"ba969b20-a066-44b2-b999-1e1b33cc97e1","name":"HTTP_Manifests_Fetch"},{"parameters":{"jsCode":"const cp = require('child_process');\nconst fs = require('fs');\n\nconst input = $input.first().json;\n\nfs.writeFileSync('/tmp/btz_token.txt', input.authHeader);\n\nconst script = `#!/bin/sh\nTOKEN=$(cat /tmp/btz_token.txt)\ncurl -s --http2 -w \"\\\\nSTATUS:%{http_code}\" \\\\\n  -H \"x-api-key: 8af2a813-c77b-4c2c-90ed-2dab3461242a\" \\\\\n  -H \"Authorization: $TOKEN\" \\\\\n  -H \"Accept: application/json\" \\\\\n  \"https://api.betterez.com/operations/manifests?providerId=${input.providerId}&productId=${input.productId}&dateFrom=${input.dateFrom}&dateTo=${input.dateTo}\"\n`;\n\nfs.writeFileSync('/tmp/btz_call.sh', script);\ncp.execSync('chmod +x /tmp/btz_call.sh');\n\nconst result = cp.execSync('/tmp/btz_call.sh', {\n  maxBuffer: 10 * 1024 * 1024,\n  timeout: 30000\n}).toString();\n\n// Separar body del status\nconst parts = result.split('\\nSTATUS:');\nconst body = parts[0].substring(0, 300);\nconst status = parts[1] ? parts[1].trim() : 'unknown';\n\nreturn [{ json: { \n  status: status, \n  body_preview: body,\n  token_length: input.authHeader.length\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-400],"id":"5d926474-9895-4466-bbed-a702e5aa9eaf","name":"child_process"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code_Normalize_Manifests","type":"main","index":0}]]},"Code_Normalize_Manifests":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Login_BTZ_Manifests","type":"main","index":0}],[{"node":"Code_Return_Error","type":"main","index":0}]]},"Code_Return_Error":{"main":[[{"node":"Code_Final_Output","type":"main","index":0}]]},"Code_AI_SAFE_Reducer_Manifests":{"main":[[{"node":"Code_Final_Output","type":"main","index":0}]]},"Code_Build_AuthHeader":{"main":[[{"node":"HTTP_Rpts_Trip_Manifests","type":"main","index":0}]]},"HTTP_Rpts_Trip_Manifests":{"main":[[{"node":"Code_AI_SAFE_Reducer_Manifests","type":"main","index":0}]]},"Login_BTZ_Manifests":{"main":[[{"node":"Code_Build_AuthHeader","type":"main","index":0}]]},"HTTP_Manifests_Fetch":{"main":[[]]},"child_process":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJfaWQiOiI2N2M3MzA4Y2ZiNzBlMTA1MjNjNDkyYmEiLCJlbWFpbCI6ImlzYWFjLmhlcm5hbmRleitxYXRyYW5zcGFpc0B0cmFuc3BhaXMuY29tLm14Iiwicm9sZSI6ImFkbWluaXN0cmF0b3IiLCJpZCI6IjY3YzczMDhjZmI3MGUxMDUyM2M0OTJiYSIsInByZW1pdW0iOlsid2ViaG9va3MiXSwiaWF0IjoxNzczMzUzNzgyLCJleHAiOjE3NzM1MjY1ODIsImF1ZCI6ImlzYWFjLWFwaS1xYSIsImlzcyI6ImJ0cnotYXBpLWFjY291bnRzIiwic3ViIjoiYWNjb3VudF91c2VyX3NpZ25faW4ifQ.bEQHvfDnJ9ty7yFLsOz9fE3sRo2VTLe3tiMRo05sNhzjhaVZPK8vuXlUJ5_040flKOcxKLEmJoekUKrtwtH1jw","providerId":"6792a124483e0c0572c7d8dd","productId":"6792a124483e0c0572c7d8e2","dateFrom":"2025-11-01","dateTo":"2025-11-03"}}]},"versionId":"a8e8dd0c-9b29-4178-aee6-bf234c996cbe","activeVersionId":"ab8ae8f2-e381-430a-8427-ef2632a0edc4","triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:25:49.979Z","createdAt":"2026-03-06T05:25:49.979Z","role":"workflow:owner","workflowId":"Xhd5b6tyxUO4BBLW","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":{"updatedAt":"2026-03-12T19:35:45.000Z","createdAt":"2026-03-12T19:35:02.121Z","versionId":"ab8ae8f2-e381-430a-8427-ef2632a0edc4","workflowId":"Xhd5b6tyxUO4BBLW","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"token"},{"name":"providerId"},{"name":"productId"},{"name":"dateFrom"},{"name":"dateTo"},{"name":"maxRows"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-896,176],"id":"df48ed07-d511-4967-a758-45cab614edc5","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Code_Normalize_Manifests (FINAL v2 - minimal schema, enterprise hardening)\n\nconst isDate = (s) => /^\\d{4}-\\d{2}-\\d{2}$/.test(String(s || \"\").trim());\nconst isHex24 = (s) => /^[0-9a-f]{24}$/i.test(String(s || \"\").trim());\nconst toStr = (v) => (v ?? \"\").toString().trim();\n\nconst parseMaxRows = (v) => {\n  let n = Number(String(v ?? 20).replace(/[^0-9]/g, \"\"));\n  if (!Number.isFinite(n) || n <= 0) n = 20;\n  if (n > 50) n = 50; // AI-SAFE cap\n  return n;\n};\n\n// Required: token\nconst token = toStr($json.token);\nif (!token) {\n  return [{\n    json: {\n      ok: false,\n      error: \"token is required (Bearer JWT missing)\",\n      tokenPresent: false,\n      tokenPrefix: null,\n    }\n  }];\n}\n\nconst providerId = toStr($json.providerId);\nconst productId  = toStr($json.productId);\n\nif (!providerId) return [{ json: { ok: false, error: \"providerId is required\", tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!productId)  return [{ json: { ok: false, error: \"productId is required\", tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nif (!isHex24(providerId)) return [{ json: { ok: false, error: \"providerId must be 24-hex\", providerId, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!isHex24(productId))  return [{ json: { ok: false, error: \"productId must be 24-hex\", productId, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nconst dateFrom = toStr($json.dateFrom);\nconst dateTo   = toStr($json.dateTo || dateFrom);\n\nif (!isDate(dateFrom)) return [{ json: { ok: false, error: \"dateFrom must be YYYY-MM-DD\", dateFrom, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\nif (!isDate(dateTo))   return [{ json: { ok: false, error: \"dateTo must be YYYY-MM-DD\", dateTo, tokenPresent: true, tokenPrefix: token.slice(0, 12) } }];\n\nconst maxRows = parseMaxRows($json.maxRows);\n\nreturn [{\n  json: {\n    ok: true,\n    token,\n    tokenPresent: true,\n    tokenPrefix: token.slice(0, 12),\n    providerId,\n    productId,\n    dateFrom,\n    dateTo,\n    maxRows\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,176],"id":"9684ae19-0427-4168-b8d8-3c8f145f1c4b","name":"Code_Normalize_Manifests"},{"parameters":{"jsCode":"// ============================================================\n// Code_AI_SAFE_Reducer_Manifests v3.0\n// Basado en estructura REAL confirmada del JSON de Betterez\n// Subworkflow: Btz_Rpts_Trip_Manifests_AI_SAFE\n// ============================================================\n\n// --- Parámetros del nodo anterior ---\nconst input = $items(\"Code_Normalize_Manifests\")[0].json;\nconst maxRows = Number(input.maxRows ?? 20);\n\n// --- Recibir el array directo de la API ---\n// La API devuelve: [ { manifest:{...}, tickets:[...] }, ... ]\nconst raw = $input.first().json;\n\n// Verificar que sea un array válido\nif (!Array.isArray(raw) || raw.length === 0) {\n  return [{\n    json: {\n      ok: false,\n      params: {\n        providerId: input.providerId,\n        productId: input.productId,\n        dateFrom: input.dateFrom,\n        dateTo: input.dateTo,\n        maxRows\n      },\n      mensaje: \"No se encontraron manifests para los parámetros indicados.\",\n      kpis: null,\n      top: null\n    }\n  }];\n}\n\n// --- ID corto (últimos 6 caracteres) ---\nconst toIdShort = (id) => (id ? String(id).slice(-6) : 'N/D');\n\n// --- Acumuladores globales ---\nlet totalCapacidad = 0;\nlet totalReservados = 0;\nlet totalIngresoMicros = 0;\nlet totalBoletos = 0;\n\n// --- Procesar cada manifest ---\nconst rowsAll = raw.map((item, idx) => {\n\n  const m = item.manifest || {};\n  const tickets = item.tickets || [];\n  const legs = m.legs || [];\n\n  // Origen y destino desde legs\n  const origen = legs.length > 0 ? legs[0].station : 'N/D';\n  const destino = legs.length > 0 ? legs[legs.length - 1].toStation : 'N/D';\n\n  // Ocupación\n  const capacidad = m.capacity || 0;\n  const reservados = m.totalReserved || 0;\n  const pctOcup = capacidad > 0 ? Math.round((reservados / capacidad) * 100) : 0;\n\n  // Ingresos (micros → MXN)\n  const ingresoMicros = tickets.reduce((s, t) => s + (t.total || 0), 0);\n  const ingresoMXN = +(ingresoMicros / 1000000).toFixed(2);\n\n  // Duración legible\n  const durMin = m.duration || 0;\n  const duracion = `${Math.floor(durMin/60)}h ${durMin%60}m`;\n\n  // Fecha limpia\n  const fecha = (m.date?.value || '').slice(0, 10) || 'N/D';\n\n  // Acumular KPIs\n  totalCapacidad += capacidad;\n  totalReservados += reservados;\n  totalIngresoMicros += ingresoMicros;\n  totalBoletos += tickets.length;\n\n  return {\n    n: idx + 1,\n    idShort: toIdShort(m._id),\n    ruta: m.scheduleDisplayName || 'N/D',\n    fecha,\n    salida: m.time || 'N/D',\n    llegada: m.arrivalTime || 'N/D',\n    origen,\n    destino,\n    brand: m.brandName || 'N/D',\n    status: m.status || 'N/D',\n    capacidad,\n    reservados,\n    ocupacion: `${pctOcup}%`,\n    distKm: m.distance || 0,\n    duracion,\n    ingresoMXN,\n    boletos: tickets.length\n  };\n});\n\n// --- KPIs globales ---\nconst ocupGlobal = totalCapacidad > 0\n  ? Math.round((totalReservados / totalCapacidad) * 100)\n  : 0;\n\n// --- Ordenar por ingreso (mayor primero) y limitar filas ---\nconst rowsTop = [...rowsAll]\n  .sort((a, b) => b.ingresoMXN - a.ingresoMXN)\n  .slice(0, maxRows);\n\n// --- Salida final para el AI Agent ---\nreturn [{\n  json: {\n    ok: true,\n    params: {\n      providerId: input.providerId,\n      productId: input.productId,\n      dateFrom: input.dateFrom,\n      dateTo: input.dateTo,\n      maxRows\n    },\n    kpis: {\n      totalViajes: raw.length,\n      totalCapacidad,\n      totalReservados,\n      ocupacionGlobal: `${ocupGlobal}%`,\n      totalBoletos,\n      ingresoTotal: `$${(totalIngresoMicros/1000000).toFixed(2)} MXN`\n    },\n    top: {\n      columns: [\"n\",\"idShort\",\"ruta\",\"fecha\",\"salida\",\"llegada\",\n                \"origen\",\"destino\",\"brand\",\"status\",\n                \"capacidad\",\"reservados\",\"ocupacion\",\n                \"distKm\",\"duracion\",\"ingresoMXN\",\"boletos\"],\n      rows: rowsTop\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,0],"id":"d9a3613b-47e7-42e9-87f5-d4dc6342fd59","name":"Code_AI_SAFE_Reducer_Manifests"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"93f38605-ca9a-405c-9d33-e5a5f0011449","leftValue":"=={{ String($json.ok).toLowerCase() === 'true' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"fbac6027-7930-4009-9b78-5239b44d7370","leftValue":"=={{$json.token}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-512,176],"id":"26dfaedd-1bbc-444f-a2dc-bb85517d0f50","name":"If"},{"parameters":{"jsCode":"// Code_Return_Error (FINAL)\nreturn [{\n  json: {\n    ok: false,\n    error: $json.error ?? \"Normalize failed\",\n    details: $json\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,320],"id":"1495c2bb-4706-4f3c-8420-959b11e762b4","name":"Code_Return_Error"},{"parameters":{"jsCode":"// Final_Output (FINAL) - unified response for ToolWorkflow\n\nconst j = $json ?? {};\n\n// If previous node already marked ok:false (Normalize/IF branch)\nif (j.ok === false) {\n  return [{\n    json: {\n      ok: false,\n      error: j.error ?? \"Unknown error\",\n      details: j.details ?? j,\n    }\n  }];\n}\n\n// If previous node is success but doesn't include ok, force ok:true\nreturn [{\n  json: {\n    ok: true,\n    ...j\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,192],"id":"81772170-9026-4f33-831e-3fc224724f4a","name":"Code_Final_Output"},{"parameters":{"jsCode":"const loginData = $('Login_BTZ_Manifests').first().json;\n\n// shortToken = token corto ✅ (token = largo ❌ causa error 400)\nconst freshToken = (loginData?.shortToken ?? \"\").toString().trim();\n\nconst coreToken = ($('Code_Normalize_Manifests').first().json.token ?? \"\").toString().trim();\n\nconst tokenFinal = freshToken || coreToken;\n\nreturn [{ \n  json: { \n    ...$('Code_Normalize_Manifests').first().json,\n    authHeader: tokenFinal ? `Bearer ${tokenFinal}` : \"\",\n    tokenUsed: tokenFinal.slice(0, 20) + \"...\"\n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-16],"id":"e38ad8bc-f67f-483f-8b82-6ac8b77a8e94","name":"Code_Build_AuthHeader"},{"parameters":{"url":"https://api.betterez.com/operations/manifests","sendQuery":true,"queryParameters":{"parameters":[{"name":"providerId","value":"=={{$json.providerId}}"},{"name":"productId","value":"=={{$json.productId}}"},{"name":"dateFrom","value":"=={{$json.dateFrom}}"},{"name":"dateTo","value":"=={{$json.dateTo}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"=Authorization","value":"=={{$json.authHeader}}"},{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-32],"id":"e501b643-7b99-457f-97e9-181c381544cb","name":"HTTP_Rpts_Trip_Manifests"},{"parameters":{"method":"POST","url":"https://api.betterez.com/accounts/users","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"Basic aXNhYWMuaGVybmFuZGV6K3FhdHJhbnNwYWlzQHRyYW5zcGFpcy5jb20ubXg6SXNhMDdoZXJhITA3IQ=="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"audience","value":"isaac-api-qa"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-224,32],"id":"de10175a-a814-4827-b4d5-c500f883ac87","name":"Login_BTZ_Manifests"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code_Normalize_Manifests","type":"main","index":0}]]},"Code_Normalize_Manifests":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Login_BTZ_Manifests","type":"main","index":0}],[{"node":"Code_Return_Error","type":"main","index":0}]]},"Code_Return_Error":{"main":[[{"node":"Code_Final_Output","type":"main","index":0}]]},"Code_AI_SAFE_Reducer_Manifests":{"main":[[{"node":"Code_Final_Output","type":"main","index":0}]]},"Code_Build_AuthHeader":{"main":[[{"node":"HTTP_Rpts_Trip_Manifests","type":"main","index":0}]]},"HTTP_Rpts_Trip_Manifests":{"main":[[{"node":"Code_AI_SAFE_Reducer_Manifests","type":"main","index":0}]]},"Login_BTZ_Manifests":{"main":[[{"node":"Code_Build_AuthHeader","type":"main","index":0}]]}},"authors":"ISAAC HERNANDEZ","name":"v4.1","description":"","autosaved":false},"tags":[{"updatedAt":"2026-03-06T05:25:32.084Z","createdAt":"2026-03-06T05:25:32.084Z","id":"So9PUDJvbRkI2jiZ","name":"IMHR-Transpais"},{"updatedAt":"2026-03-06T05:25:32.087Z","createdAt":"2026-03-06T05:25:32.087Z","id":"qOsCTdlXe1FynkXb","name":"BTZQa_Transpais"}]}