imhr-->-core_transpais_btzqa-ZWyEUavQxuySSF6h.json
{"updatedAt":"2026-03-14T05:57:41.660Z","createdAt":"2026-03-06T05:28:23.874Z","id":"ZWyEUavQxuySSF6h","name":"IMHR -> Core_Transpais_BTZQa","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{$json.chatInput}}","options":{"systemMessage":"════════════════════════════════════════════════════\nMOTOR IA TRANSPAIS — SYSTEM PROMPT v2.0\nAmbiente: QA | n8n Self-Hosted | Betterez API\n\n═══════════════════════════════════════════════════\n\n## IDENTIDAD Y ROL\nEres el Asistente de Inteligencia Operativa de Transpais.\nRespondes SIEMPRE en español. Eres preciso, conciso y \norientado a datos. Cuando no tienes información suficiente,\npreguntas antes de asumir.\n\n════════════════════════════════════════════════════════\n## CONTEXTO DISPONIBLE\n════════════════════════════════════════════════════════\nEl contexto del sistema contiene:\n- token: JWT para autenticación\n- providerId: ID del proveedor Transpais\n- productId: ID del producto principal\n- originId: estación origen por defecto (MONTERREY)\n- destinationId: estación destino por defecto (TAMPICO)\n- fareIds: tarifa base ADULTO con cantidad\n\nREGLA: Usa el contexto para completar parámetros faltantes.\nSi el dato no está en contexto ni en el mensaje del usuario,\npídelo explícitamente antes de ejecutar cualquier herramienta.\n\n════════════════════════════════════════════════════════\n## ROUTING DE HERRAMIENTAS — REGLAS OBLIGATORIAS\n════════════════════════════════════════════════════════\n\n### CATÁLOGOS (consultas de configuración)\n- Productos disponibles → Inv_1.1_BTZ_Get_Products\n- Detalle de un producto → Inv_1.2_BTZ_Get_ProductDetail\n- Horarios/schedules → Inv_1.3_BTZ_Get_Schedules\n- Tarifas disponibles → Inv_1.4_BTZ_Get_Fares\n  (usa BTZ_Search_Fares_AI_SAFE cuando el agente necesita\n   fareIds para una búsqueda de trips)\n- Estaciones → Call BTZ_Get_Stations_AI_SAFE o\n  Stns&Ictns_6.2_BTZ_Get_Stations_by_ID (si tiene stationId)\n- Rutas → Inv_1.6 (no implementado aún — informar al usuario)\n\n### TRIPS / DISPONIBILIDAD\n- Buscar viajes disponibles → Call BTZ_Trips_Search_AI_SAFE\n  Requiere: productId, originId, destinationId,\n            departureDate (YYYY-MM-DD), fareIds, channel\n  Si faltan datos: pide solo los que faltan.\n  \n- Detalle de un viaje específico → Tps&Dpturs_4.2_BTZ_Get_TripDetail\n  Requiere: tripId (string base64 largo del departure.id)\n  Usa este nodo SOLO cuando el usuario ya tiene un tripId\n  de una búsqueda previa.\n\n- Búsqueda de viajes disponibles → Call BTZ_Trips_Search_AI_SAFE\n  Requiere: productId (contexto), originId (contexto),\n  destinationId (contexto), departureDate (del usuario YYYY-MM-DD),\n  fareIds (contexto), channel (default: backoffice).\n  El campo channel NUNCA lo pidas al usuario — usa backoffice por defecto.\n\n### TRANSACCIONES / ÓRDENES\n- Detalle de una orden → Sis&Trnsct_2.4_BTZ_GetOrder\n  ⚠️ SOLO acepta MongoDB orderId (24 hex chars)\n  Ejemplo válido: 6996996ea409e9073152dd0c\n  NO acepta: BCMQEABP (transactionNumber) → informa al usuario\n  que necesitas el ID interno de 24 caracteres.\n\n- PDF de transacción → Sis&Trnsct_2.1_BTZ_PDF_Transaction_Download\n  Requiere: transactionId explícito del usuario.\n  NUNCA uses PDF para analytics o reportes.\n\n- PDF de ticket → Sis&Trnsct_2.2 o 2.3\n  Solo cuando el usuario pide explícitamente el PDF\n  y provee un ticketId o ticketNumber.\n\n- Búsqueda de reservaciones → Bk&Rserv_3.1_BTZ_Trip_Search_PDF\n  Para buscar reservaciones por tripId.\n\n### PASAJEROS / CLIENTES\n- Buscar viajeros → PsngrCstmr_5.1_BTZ_Get_Travellers\n  Nota: en QA count=0 es normal, no es error.\n\n### REPORTES / ANALYTICS (MANIFIESTOS)\n- Reporte operativo → Call BTZ_Rpts_Trip_Manifests_AI_SAFE\n  Parámetros: providerId, productId, dateFrom, dateTo, maxRows.\n  - providerId y productId: tómalos del contexto si no los da el usuario.\n  - dateFrom y dateTo: SIEMPRE del mensaje del usuario (YYYY-MM-DD).\n    Si no las provee, pregunta: \"¿Qué rango de fechas necesitas?\"\n  - maxRows: default 20, máximo 50.\n  NUNCA uses PDF tools para analytics.\n  NUNCA uses fechas del contexto para manifiestos.\n\n════════════════════════════════════════════════════════\n## MANEJO DE IDs\n════════════════════════════════════════════════════════\n- IDs MongoDB (24 hex): para productos, estaciones, fares,\n  órdenes. Ejemplo: 6792a124483e0c0572c7d8e2\n- tripId (base64): string largo eyJ... para detalle de viaje.\n- transactionNumber (8 chars): BCMQEABP — solo para referencia\n  visual, NO para consultar órdenes.\n- ticketNumber (6 chars): QCTEUE — identificador de boleto.\n- Usa idShort (últimos 6 chars) en tablas para IDs largos.\n\n════════════════════════════════════════════════════════\n## FORMATO DE RESPUESTAS\n════════════════════════════════════════════════════════\n\n### Para REPORTES (manifiestos):\n1) KPIs en resumen: totalViajes, ocupacionGlobal, \n   totalBoletos, ingresoTotal\n2) Tabla markdown (máx 20 filas):\n   ruta | fecha | salida | llegada | ocupacion | ingresoMXN\n3) Nota con observaciones relevantes.\n\n### Para CONSULTAS PUNTUALES (orden, ticket, trip):\n- Datos estructurados claros en español.\n- Convierte micros a MXN (divide entre 1,000,000).\n- Convierte timestamps UTC a hora local (CDT = UTC-5).\n- Muestra disponibilidad, precio, paradas.\n\n### Para CATÁLOGOS (fares, stations, products):\n- Lista organizada con nombre e ID.\n- Máximo 20 resultados.\n\n### REGLAS GENERALES:\n- Nunca muestres tokens, API keys ni datos de auth.\n- Nunca menciones nombres de nodos o endpoints técnicos.\n- Si el usuario pide algo fuera del alcance actual,\n  explica brevemente qué está disponible.\n- Responde siempre en español, tono profesional y claro.\n\n════════════════════════════════════════════════════════\n## CAPACIDADES ACTUALES (Capa 1 — MVP Completo)\n════════════════════════════════════════════════════════\n✅ Catálogos: productos, horarios, tarifas, estaciones\n✅ Búsqueda de viajes con disponibilidad y precios\n✅ Detalle de viaje por tripId\n✅ Consulta de órdenes por orderId\n✅ PDFs de transacciones y tickets\n✅ Reporte de manifiestos operativos con KPIs\n✅ Búsqueda de viajeros/pasajeros\n\n⏳ Próximamente (Capa 2):\n- Búsqueda de tickets por transactionNumber o rango de fechas\n- Análisis financiero por período y ruta\n\n\n","maxIterations":10,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-816,368],"id":"a0b2ec1a-7e9a-4d9d-b81d-3cf9de59e43a","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-3-pro-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1664,816],"id":"7538c603-af87-43be-967a-4a63ae00e82f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"FLNynBYyV4sFIDOT","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"toolDescription":"Obtiene el catálogo completo de productos de venta configurados en Betterez: boletos, paquetes, servicios especiales. Es el punto de entrada para conocer qué se vende en el sistema.","url":"https://api.betterez.com/inventory/products","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=={{ 'Bearer ' + $('Code_SaveToken').first().json.btToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-752,624],"id":"5ccacf38-c84e-498e-959d-3941239c5bcd","name":"Inv_1.1_BTZ_Get_Products"},{"parameters":{"toolDescription":"Obtiene la configuración completa y detallada de un producto específico a partir de su ID único. Útil para inspeccionar propiedades individuales como tarifas, rutas y configuraciones especiales.","url":"=https://api.betterez.com/inventory/products/{{$parameter.productId}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=={{ 'Bearer ' + $getWorkflowStaticData('global').btToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-752,832],"id":"3c196c1a-51c9-41e9-a75e-61eadd8e3913","name":"Inv_1.2_BTZ_Get_Product_Detail"},{"parameters":{"toolDescription":"Consulta los horarios y rutas configurados en el sistema de inventario. Devuelve la programación de salidas, frecuencias y configuración de rutas operativas de Transpaís.","url":"=https://api.betterez.com/inventory/trips","sendQuery":true,"queryParameters":{"parameters":[{"name":"productId","value":"Id del producto"},{"name":"originId","value":"Id de origen"},{"name":"destinationId","value":"Id de destino"},{"name":"fareIds","value":"Id de tarifa"},{"name":"departureDate","value":"Fecha de salida (YYYY-MM-DD)"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=={{ 'Bearer ' + $getWorkflowStaticData('global').btToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-752,1040],"id":"7ec9ccc9-ed05-4a4f-a67f-1822e517e822","name":"Inv_1.3_BTZ_Get_Schedules"},{"parameters":{"toolDescription":"Obtiene el listado de viajes programados y disponibles en el sistema. Incluye información de origen, destino, fecha y hora de salida, capacidad total de la unidad y asientos disponibles. Es el nodo clave para análisis de ocupación.\n\nRequisito: productId debe ser un MongoID de 24 caracteres hex (ej. 6792a124483e0c0572c7d8e2).\nSi el usuario no proporciona un MongoID, debes llamar primero a la herramienta “Get Products” para buscar el producto y obtener su _id. No inventes productId.","url":"=https://api.betterez.com/inventory-trips/trips","sendQuery":true,"queryParameters":{"parameters":[{"name":"productId","value":"={{$json.productId}}"},{"name":"originId","value":"={{$json.originId}}"},{"name":"destinationId","value":"={{$json.destinationId}}"},{"name":"departureDate","value":"={{$json.departureDate}}"},{"name":"fareIds","value":"={{$json.fareIds}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=={{ 'Bearer ' + $('Code_SaveToken').first().json.btToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-64,624],"id":"3b4d3f17-cb58-45d9-86b9-83ffa8d40111","name":"Tps&Dpturs_4.1_BTZ_Get_Trips"},{"parameters":{"toolDescription":"Retorna el detalle completo de un viaje específico: unidad asignada, operador, mapa de asientos, pasajeros a bordo, estado actual del viaje (en terminal, en ruta, completado) e incidencias reportadas.\n","url":"=https://api.betterez.com/inventory-trips/trips","sendQuery":true,"queryParameters":{"parameters":[{"name":"productId","value":"={{$json.productId}}"},{"name":"originId","value":"={{$json.originId}}"},{"name":"destinationId","value":"={{$json.destinationId}}"},{"name":"departureDate","value":"={{$json.departureDate}}"},{"name":"fareIds","value":"={{$json.fareIds}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=Bearer {{$json.token}}"},{"name":"=Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-64,816],"id":"b13f8623-2e49-49ab-b9e0-02ed08def751","name":"Tps&Dpturs_4.2_BTZ_Get_Trip_Detail"},{"parameters":{"toolDescription":"Obtiene el catálogo de todas las terminales y estaciones configuradas en el sistema Betterez para Transpaís: nombre, ubicación geográfica, estado (activa/inactiva), datos de contacto y horarios de operación.\n\n“name: nombre de estación (se convierte a MAYÚSCULAS automáticamente)”","url":"=https://api.betterez.com/inventory/stations","sendQuery":true,"queryParameters":{"parameters":[{"name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Name', `=“Nombre de estación a buscar (ej. monterrey, tampico). El sistema lo convierte a MAYÚSCULAS.”`, 'string') }}","value":"=={{ ($parameter.name ?? '').trim().toUpperCase() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=={{ 'Bearer ' + $('Code_SaveToken').first().json.btToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[0,0],"id":"0f1f9fb1-4eec-4864-9bdf-68533e195bf3","name":"Stns&lctns_6.1_BTZ_Get_Stations","disabled":true},{"parameters":{"contextWindowLength":6},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1088,832],"id":"dada859e-2a42-497d-929c-95d58dcec109","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1520,944],"id":"a1c4448b-93b9-4362-9048-8a69f4e04be9","name":"OpenAI Chat Model"},{"parameters":{"method":"POST","url":"https://api.betterez.com/accounts/users","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"Basic aXNhYWMuaGVybmFuZGV6K3FhdHJhbnNwYWlzQHRyYW5zcGFpcy5jb20ubXg6SXNhMDdoZXJhITA3IQ=="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"audience","value":"isaac-api-qa"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1712,384],"id":"300e39c3-45fd-42b1-9fb7-07b2fe02a1be","name":"Login_BTZ"},{"parameters":{"assignments":{"assignments":[{"id":"bf076fad-dca8-4a4d-aa9a-57f5624c8bca","name":"btToken","value":"{{ $json.shortToken }}","type":"string"},{"id":"a62946de-90d7-4999-bb7f-4058e88b2508","name":"Field name: chatInput","value":"=={{ $node[\"chatInput\"].json[\"chatInput\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,384],"id":"54850613-54eb-44bd-89a4-98d405ce1552","name":"Set_BTZ"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\n\n// Tokens desde Login_BTZ\nconst shortToken = $('Login_BTZ').first().json.shortToken;\nconst longToken  = $('Login_BTZ').first().json.token;\n\n// ✅ Guardar en static data (bien)\nstaticData.btShort = shortToken;\nstaticData.btLong  = longToken;\n\n// ✅ IMPORTANTÍSIMO: conservar el input (para no perder chatInput)\nconst input = $input.first().json;\n\n// ✅ Return con MERGE: mantiene chatInput + agrega tokens\nreturn [\n  {\n    json: {\n      ...input,\n      btToken: shortToken,\n      btLongToken: longToken,\n      ok: true,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,384],"id":"591d7b6f-eaff-490a-bec8-1ba244eff136","name":"Code_SaveToken"},{"parameters":{"toolDescription":"Obtiene el catálogo de todas las terminales y estaciones configuradas en el sistema Betterez para Transpaís: nombre, ubicación geográfica, estado (activa/inactiva), datos de contacto y horarios de operación.\n","method":"=GET","url":"=https://api.betterez.com/inventory/stations/{{$json.stationId}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=={{ 'Bearer ' + $('Code_SaveToken').first().json.btToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[352,992],"id":"1efcff44-8c95-4218-a35a-32143bb9e1f9","name":"Stns&lctns_6.2_BTZ_Get_Stations_by_ID"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1968,384],"id":"392363ae-ea9b-4237-891d-e704f4aa1f80","name":"chatInput","webhookId":"60a4e465-3466-4e7a-ba81-7ebb1d39048c"},{"parameters":{"description":"Mandar llamar Subworkflow -> BTZ_Search_Stations_AI_SAFE","workflowId":{"__rl":true,"value":"4L26Waro6bf1hRCp","mode":"list","cachedResultUrl":"/workflow/4L26Waro6bf1hRCp","cachedResultName":"BTZ_Search_Stations_AI_SAFE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI('name', ``, 'string') }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[336,624],"id":"1cce78ab-6fa6-425d-849a-f27c9c0c7ef3","name":"Call 'BTZ_Search_Stations_AI_SAFE'"},{"parameters":{"jsCode":"// BTZ_Search_Stations (AI-SAFE)\n// Entrada esperada (From AI): name (string)\n// Salida requerida por n8n tool: { response: \"texto\" }\n\nconst term = String($input.first().json.name ?? '').trim().toUpperCase();\n\n// Si no llega término, devolvemos instrucción corta (no catálogo completo)\nif (!term) {\n  return [{ json: { response: \"Falta el parámetro 'name'. Ejemplo: name='MONTERREY'.\" } }];\n}\n\n// Aquí NO llamamos a Betterez desde Code Tool (porque Code Tool no hace HTTP).\n// Este Tool es solo “formateador”. Para buscar en Betterez, necesitamos el HTTP tool filtrado.\n// Por ahora: devuelve el término normalizado para que el agente lo use en el HTTP tool filtrado.\nreturn [{ json: { response: `OK. Usar name=${term} para buscar estaciones.` } }];"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[176,0],"id":"c249343c-2ea3-4d54-8ee5-38e92e7f5aba","name":"Code Tool_BTZ_Search_Stations","disabled":true},{"parameters":{"description":"Mandar llamar Subworkflow -> BTZ_Get_Station_Detail_By_Name","workflowId":{"__rl":true,"value":"nUjWiPzvgY5f4HFx","mode":"list","cachedResultUrl":"/workflow/nUjWiPzvgY5f4HFx","cachedResultName":"BTZ_Get_Station_Detail_By_Name"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI('name', ``, 'string') }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[352,800],"id":"dbc2065a-6be2-45d8-b494-d66f13162ab9","name":"Call 'BTZ_Get_Station_Detail_By_Name'"},{"parameters":{"description":"Mandar llamar Subworkflow -> BTZ_Search_Fares_AI_SAFE","workflowId":{"__rl":true,"value":"uo13XAA4HhpCedf3","mode":"list","cachedResultUrl":"/workflow/uo13XAA4HhpCedf3","cachedResultName":"BTZ_Search_Fares_AI_SAFE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"token":"={{$json.btToken}}","enabled":"true","search":"={{$json.chatInput || \"\"}}"},"matchingColumns":["name"],"schema":[{"id":"search","displayName":"search","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"productId","displayName":"productId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"enabled","displayName":"enabled","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-752,1472],"id":"dd72e087-c498-4cbe-9a01-89dfbad1d2e2","name":"BTZ_Search_Fares_AI_SAFE1"},{"parameters":{"toolDescription":"Obtiene el listado completo de transacciones/ventas registradas en el sistema. Es el nodo principal para análisis de ingresos, ventas por período y seguimiento comercial. Soporta filtros por fecha y estado.","url":"=https://api.betterez.com/notifications/pdf-transactions/{{$parameter.transactionId}}","sendQuery":true,"queryParameters":{"parameters":[{"name":"startDate","value":"Fecha inicio (YYYY-MM-DD)"},{"name":"endDate","value":"Fecha fin (YYYY-MM-DD)"},{"name":"status","value":"Estado de la transacción"},{"name":"limit","value":"integer"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=={{ $('Code_SaveToken').first().json.btToken }}"},{"name":"x-domain","value":"qatranspais"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-416,624],"id":"c428e82e-536b-4fc0-b106-bdc633d2640c","name":"Sls&Trnsct_2.1_BTZ_PDF_Transaction_Download"},{"parameters":{"toolDescription":"Obtiene el listado de reservaciones/boletos vendidos registrados en el sistema. Permite filtrar por estado (confirmado, cancelado, pendiente) y por fecha de salida para analizar la ocupación y demanda.\n\n“SOLO PDF. NO usar para disponibilidad.”","url":"=https://api.betterez.com/inventory-trips/trips?productId={{$json.productId}}&originId={{$json.originId}}&destinationId={{$json.destinationId}}&departureDate={{$json.departureDate}}&fareIds={{$json.fareIds}}","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"confirmed, cancelled, pending"},{"name":"departureDate","value":"Fecha de salida"},{"name":"limit","value":"interger  Número máximo de registros a retornar"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=={{ 'Bearer ' + $('Code_SaveToken').first().json.btToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-240,624],"id":"3882da35-33f2-451e-9450-ebf88ede05c7","name":"Bk&Rserv_3.1_BTZ_Trip_Search_PDF"},{"parameters":{"toolDescription":"Obtiene el listado de pasajeros registrados en el sistema con su historial de viajes, datos de contacto y preferencias. Permite análisis de comportamiento de viajeros frecuentes y segmentación de clientes.\n","url":"=https://api.betterez.com/accounts/travellers","sendQuery":true,"queryParameters":{"parameters":[{"name":"providerIds","value":"={{$json.providerId}}"},{"name":"customerId","value":"={{$json.customerId}}"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=={{ 'Bearer ' + $('Code_SaveToken').first().json.btToken }}"},{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[144,624],"id":"eb131152-8f80-404b-aba4-8d0df522f49e","name":"PsngrCstmr_5.1_BTZ_Get_Travellers"},{"parameters":{"assignments":{"assignments":[{"id":"23450b2d-b8e8-4a27-bb03-0ea305a604e1","name":"token","value":"={{$node[\"Code_SaveToken\"].json.btToken}}","type":"string"},{"id":"84547212-8d38-4a9d-8f2d-d6a542afbfd7","name":"productId","value":"6792a124483e0c0572c7d8e2","type":"string"},{"id":"925a8717-2fe0-4dea-8e9b-3c4f6c5e8d19","name":"chatInput","value":"={{ $node[\"chatInput\"].json.chatInput}}","type":"string"},{"id":"811500bf-ed93-44e0-a4af-d78ad393d112","name":"customerId","value":"=","type":"string"},{"id":"c2d1426e-0fb4-4673-b3d9-b7335e313b26","name":"originId","value":"6793d57b73d11204b91bf981","type":"string"},{"id":"2fe3c282-dd45-4c2d-959e-e8ae2413fd27","name":"destinationId","value":"6793d63a78a23c04ac34a03b","type":"string"},{"id":"801dd41b-f1da-4597-9b11-efe376c235d8","name":"fareIds","value":"=67ae0bd41c60280472d95ae8:1","type":"string"},{"id":"19860502-e2a7-4621-8484-43270830e0bb","name":"providerId","value":"6792a124483e0c0572c7d8dd","type":"string"},{"id":"9d151504-4dc1-4a8a-8525-c6b83c7ede95","name":"tripId","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,384],"id":"2addf6aa-5587-45fb-862d-c01425890e34","name":"Set_Agent_Context"},{"parameters":{"toolDescription":"Genera un reporte consolidado de ventas directamente desde Betterez, agrupando datos por fecha, ruta o producto según se requiera. Proporciona totales, subtotales y métricas de rendimiento pre-calculadas por el sistema. Ideal para reportes ejecutivos rápidos sin necesidad de procesar datos crudos.","url":"=https://api.betterez.com/operations/manifests","sendQuery":true,"queryParameters":{"parameters":[{"name":"providerId","value":"={{$json.providerId}}"},{"name":"dateFrom","value":"={{$json.dateFrom}}"},{"name":"dateTo","value":"={{$json.dateTo}}"},{"name":"manifestOnly","value":"true"},{"name":"productId","value":"={{$json.productId}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"},{"name":"Authorization","value":"=Bearer {{$json.token}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[528,624],"id":"aeeb160a-21b3-4cf4-807f-5ee04f0f7b20","name":"Rpts_7.1_Ops_Manifests_Search","notesInFlow":false},{"parameters":{"description":"Mandar llamar Subworkflow -> BTZ_Search_Products_AI_SAFE","workflowId":{"__rl":true,"value":"CmdkivZ2W4mhjg3S","mode":"list","cachedResultUrl":"/workflow/CmdkivZ2W4mhjg3S","cachedResultName":"BTZ_Search_Products_AI_SAFE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI('name', ``, 'string') }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-64,992],"id":"362c207f-63af-46f3-9d2f-34d75c20ad3f","name":"call BTZ_Search_Products_AI_SAFE"},{"parameters":{"description":"Mandar llamar Subworkflow -> BTZ_Trips_Search_AI_SAFE","workflowId":{"__rl":true,"value":"57faBkSx4eXj26SH","mode":"list","cachedResultUrl":"/workflow/57faBkSx4eXj26SH","cachedResultName":"BTZ_Trips_Search_AI_SAFE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"token":"={{$json.token}}","productId":"={{$json.productId}}","originId":"={{$json.originId}}","destinationId":"={{$json.destinationId}}","departureDate":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('departureDate', `Departure date in YYYY-MM-DD format. Example: 2026-03-25`, 'string') }}","fareIds":"={{$json.fareIds}}","maxResults":"3","channel":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('channel', `Sales channel. Must be one of: backoffice, callcenter, websales, agency-backoffice, agency-websales. Default: backoffice`, 'string') }}"},"matchingColumns":["name"],"schema":[{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"productId","displayName":"productId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"originId","displayName":"originId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"destinationId","displayName":"destinationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"departureDate","displayName":"departureDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"fareIds","displayName":"fareIds","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"maxResults","displayName":"maxResults","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-64,1184],"id":"f59de18c-145a-4ab3-8a60-10bd293a32c3","name":"call BTZ_Trips_Search_AI_SAFE"},{"parameters":{"description":"Mandar llamar Subworkflow -> BTZ_Get_Station_Detail_By_Name","workflowId":{"__rl":true,"value":"4L26Waro6bf1hRCp","mode":"list","cachedResultUrl":"/workflow/4L26Waro6bf1hRCp","cachedResultName":"BTZ_Search_Stations_AI_SAFE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"token":"={{$json.btToken}}","stationQuery":"={{$json.stationQuery}}","maxResults":"20"},"matchingColumns":["name"],"schema":[{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"stationQuery","displayName":"stationQuery","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"maxResults","displayName":"maxResults","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[352,1168],"id":"abcfb1ea-3410-40f0-9319-661869536fda","name":"Call BTZ_Search_Stations_AI_SAFE"},{"parameters":{"description":"Mandar llamar Subworkflow -> BTZ_Rpts_Trip_Manifests_AI_SAFE","workflowId":{"__rl":true,"value":"Xhd5b6tyxUO4BBLW","mode":"list","cachedResultUrl":"/workflow/Xhd5b6tyxUO4BBLW","cachedResultName":"Btz_Rpts_Trip_Manifests_AI_SAFE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"token":"=={{$('Code_SaveToken').first().json.token}}","providerId":"={{$json.providerId}}","productId":"={{$json.productId}}","dateTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dateTo', ``, 'string') }}","dateFrom":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dateFrom', ``, 'string') }}","maxRows":20},"matchingColumns":[],"schema":[{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"providerId","displayName":"providerId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"productId","displayName":"productId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"dateFrom","displayName":"dateFrom","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"dateTo","displayName":"dateTo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"maxRows","displayName":"maxRows","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[544,816],"id":"03318610-315a-4dc0-8862-cf5cde6d22b6","name":"Call BTZ_Rpts_Trip_Manifests_AI_SAFE"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1904,672],"id":"fd8c77dd-59a2-4867-9ac9-3bebcfc025df","name":"DeepSeek Chat Model"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-1760,672],"id":"4f4ce618-b039-4881-a0fb-4bb886fa9230","name":"Anthropic Chat Model"},{"parameters":{"url":"https://api.betterez.com/inventory/fares","sendQuery":true,"queryParameters":{"parameters":[{"name":"productIds","value":"={{$json.productId}}"},{"name":"enabled","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-752,1248],"id":"6c848f4a-6d1d-4593-8cb6-5b3b0d2bf75b","name":"Inv_1.4_BTZ_Get_Fares"},{"parameters":{"url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Returns order details from Betterez. \nIMPORTANT: Requires the internal MongoDB orderId (24-character hex, \nexample: 6996996ea409e9073152dd0c). \nTransaction numbers like BCMQEABP are NOT valid for this endpoint.\nIf user provides a transaction number, inform them you need the \nfull order ID.`, 'string') }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"providerId","value":"={{$json.providerId}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-416,800],"id":"1a3ba3a7-3833-4ec9-a356-efe3a8e0a9b3","name":"Sis&Trnsct_2.4_BTZ_GetOrder"},{"parameters":{"url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Full URL. Must be: https://api.betterez.com/inventory-trips/trip/{tripId}\nwhere {tripId} is the base64 departure ID from a previous trip search.\nExample: https://api.betterez.com/inventory-trips/trip/eyJhY2NvdW50...`, 'string') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8af2a813-c77b-4c2c-90ed-2dab3461242a"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[-576,608],"id":"283777a2-0151-4e8f-861e-5646118f5635","name":"Tps&Dpturs_4.2_BTZ_Get_TripDetail"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Inv_1.1_BTZ_Get_Products":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Inv_1.2_BTZ_Get_Product_Detail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Inv_1.3_BTZ_Get_Schedules":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tps&Dpturs_4.1_BTZ_Get_Trips":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tps&Dpturs_4.2_BTZ_Get_Trip_Detail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Login_BTZ":{"main":[[{"node":"Set_BTZ","type":"main","index":0}]]},"Set_BTZ":{"main":[[{"node":"Code_SaveToken","type":"main","index":0}]]},"Code_SaveToken":{"main":[[{"node":"Set_Agent_Context","type":"main","index":0}]]},"Stns&lctns_6.2_BTZ_Get_Stations_by_ID":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"chatInput":{"main":[[{"node":"Login_BTZ","type":"main","index":0}]]},"Call 'BTZ_Search_Stations_AI_SAFE'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call 'BTZ_Get_Station_Detail_By_Name'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"BTZ_Search_Fares_AI_SAFE1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Sls&Trnsct_2.1_BTZ_PDF_Transaction_Download":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Bk&Rserv_3.1_BTZ_Trip_Search_PDF":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"PsngrCstmr_5.1_BTZ_Get_Travellers":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Set_Agent_Context":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Rpts_7.1_Ops_Manifests_Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"call BTZ_Search_Products_AI_SAFE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"call BTZ_Trips_Search_AI_SAFE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call BTZ_Search_Stations_AI_SAFE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call BTZ_Rpts_Trip_Manifests_AI_SAFE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Inv_1.4_BTZ_Get_Fares":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Sis&Trnsct_2.4_BTZ_GetOrder":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tps&Dpturs_4.2_BTZ_Get_TripDetail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"ff57f795-6858-4f32-9c3a-638d4c7acd58","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:28:23.878Z","createdAt":"2026-03-06T05:28:23.878Z","role":"workflow:owner","workflowId":"ZWyEUavQxuySSF6h","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-06T05:25:32.084Z","createdAt":"2026-03-06T05:25:32.084Z","id":"So9PUDJvbRkI2jiZ","name":"IMHR-Transpais"},{"updatedAt":"2026-03-06T05:25:32.087Z","createdAt":"2026-03-06T05:25:32.087Z","id":"qOsCTdlXe1FynkXb","name":"BTZQa_Transpais"}]}