n8n_backups_gdrive-nmZZgXQEaLgCd5mV.json
{"updatedAt":"2026-03-06T05:37:16.062Z","createdAt":"2026-03-06T05:36:51.332Z","id":"nmZZgXQEaLgCd5mV","name":"n8n_backups_GDrive","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"20f2e18f-dc73-423b-81b8-acea441e1841","name":"Schedule Trigger"},{"parameters":{"url":"https://demo-project-n8n.x7guis.easypanel.host/api/v1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhZDBhZmMzNS1mNjgwLTQxYzctYTFiNi0xNTJmNzk5ODY1YjIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNzY3MjY0YTItMDhkOS00NzIyLWE0NjgtNGQxZjY5ODg4MTJjIiwiaWF0IjoxNzcyNzQxMjYzLCJleHAiOjE3ODA0NTkyMDB9.Y2Y2IbcPtL4_I1QpNg2T6kTcHyetI_9nau1WhT4Pg44"},{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"d6d0ef00-fe26-4462-9dfa-0ed917c622c3","name":"HTTP Request"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst workflows = input.data; // <-- ahora SI es array\n\nconst date = new Date().toISOString().slice(0, 10);\nconst safeFileName = (name) =>\n  (name ?? \"workflow\").toString().trim().replace(/[\\/\\\\?%*:|\"<>]/g, \"-\");\n\nreturn workflows.map((workflow) => {\n  const filename = `${safeFileName(workflow.name)}-${date}.json`;\n  const content = JSON.stringify(workflow, null, 2);\n\n  return {\n    json: { filename },\n    binary: {\n      data: {\n        data: Buffer.from(content, \"utf8\").toString(\"base64\"),\n        mimeType: \"application/json\",\n        fileName: filename,\n      },\n    },\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"id":"0fbdf7f3-2376-42e5-a6b6-15e8d0ba2ec7","name":"Code"},{"parameters":{"operation":"createFromText","content":"={{ $json.content }}","name":"={{ $json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1UFPk7LbmJelAKc5fcLfInSr1_bSHkto8","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://drive.google.com/drive/folders/1UFPk7LbmJelAKc5fcLfInSr1_bSHkto8"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[704,0],"id":"01122d07-8d25-4c57-ac41-7c38f31b457f","name":"Create file from text"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7a2e760f-793d-4fd4-9590-4afad54ccd3b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:36:51.336Z","createdAt":"2026-03-06T05:36:51.336Z","role":"workflow:owner","workflowId":"nmZZgXQEaLgCd5mV","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-06T05:36:36.112Z","createdAt":"2026-03-06T05:36:36.112Z","id":"zIdQlNe6qeClOFek","name":"IMHR_Mainteance"}]}