n8n_backups_gdrive-nmZZgXQEaLgCd5mV.json
{"updatedAt":"2026-03-06T16:30:30.029Z","createdAt":"2026-03-06T05:36:51.332Z","id":"nmZZgXQEaLgCd5mV","name":"n8n_backups_GDrive","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"20f2e18f-dc73-423b-81b8-acea441e1841","name":"Schedule Trigger"},{"parameters":{"url":"https://n8n.iheratech.com/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0YWMyMDczZi1lYmJhLTQ3ZWYtYmUwNi01YTNkZTM0MjYwNTgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMGMxZDIwNzQtZTMxZS00Y2M2LTlhNjEtZjU5YjUxZWM3OWI2IiwiaWF0IjoxNzcyNzc2MzYxfQ.g4yK97sDEaNStuv6iPpEx26OUz68vxHrZW7ORZSEPgs"},{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"d6d0ef00-fe26-4462-9dfa-0ed917c622c3","name":"HTTP Request"},{"parameters":{"jsCode":"return items[0].json.data.map(workflow => {\nreturn {\njson: {\nfilename: `${workflow.name}-${new Date().toISOString().slice(0, 10)}.json`, content: JSON.stringify(workflow, null, 2),\n}\n};\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"id":"0fbdf7f3-2376-42e5-a6b6-15e8d0ba2ec7","name":"Code"},{"parameters":{"operation":"createFromText","content":"={{ $json.content }}","name":"={{ $json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1gLxFq_-Scj_kFs93mPDYHGDY79HYkWyS","mode":"list","cachedResultName":"n8n_IMHR","cachedResultUrl":"https://drive.google.com/drive/folders/1gLxFq_-Scj_kFs93mPDYHGDY79HYkWyS"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[720,0],"id":"01122d07-8d25-4c57-ac41-7c38f31b457f","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"rurzKmepaoXV4OAS","name":"Google Drive account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Create file from text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"04c7dad5-4291-4507-9e0b-2948dbb1b00b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-06T05:36:51.336Z","createdAt":"2026-03-06T05:36:51.336Z","role":"workflow:owner","workflowId":"nmZZgXQEaLgCd5mV","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-06T05:36:36.112Z","createdAt":"2026-03-06T05:36:36.112Z","id":"zIdQlNe6qeClOFek","name":"IMHR_Mainteance"}]}