orquestador-consultas-analiticas-a-postgresql-mZftUUNtFPIUN5TV.json
{"updatedAt":"2026-03-12T15:49:22.321Z","createdAt":"2026-03-12T06:12:49.344Z","id":"mZftUUNtFPIUN5TV","name":"Orquestador Consultas Analiticas a PostgreSQL","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"e8ec16a3-cbb1-412e-9edc-000000000001","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[0,0],"webhookId":"371b7f16-80f6-492e-bdfb-66ebbf370816"},{"parameters":{"resource":"chat","operation":"message","requestOptions":{}},"id":"b0a51c4b-c128-4ce3-a20c-000000000002","name":"Traductor SQL (LLM)","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[208,0],"credentials":{"openAiApi":{"id":"QqA63o6XwQEGiRpL","name":"OpenAi account"}}},{"parameters":{"jsCode":"try {\n  const responseText = $input.item.json.message.content.trim();\n  const cleanText = responseText.replace(/^```(json)?\\n|\\n```$/gm, \"\").trim();\n  const parsed = JSON.parse(cleanText);\n  return { json: { query: parsed.query } };\n} catch (error) {\n  throw new Error(\"Error al parsear el JSON del Traductor SQL: \" + error.message);\n}"},"id":"5ed1e8a9-da73-455b-b9f1-000000000003","name":"Parsear Respuesta LLM","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"f5e92736-2184-48f8-b3ba-000000000004","name":"PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[608,0],"credentials":{"postgres":{"id":"TOnysWqjS2qWP56X","name":"Postgres account_TRPS"}}},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{}},"id":"c621217e-cbe0-4a87-bb7c-000000000005","name":"Exportar Excel","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[800,-96]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"","mode":"id"},"sheetName":{"__rl":true,"value":"","mode":"id"}},"id":"76ba370e-3fa5-45a7-932f-000000000006","name":"Sincronizar Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[800,112],"credentials":{"googleSheetsOAuth2Api":{"id":"1miPORQOdYRPmqxl","name":"Google Sheets account"}}}],"connections":{"Chat Trigger":{"main":[[{"node":"Traductor SQL (LLM)","type":"main","index":0}]]},"Traductor SQL (LLM)":{"main":[[{"node":"Parsear Respuesta LLM","type":"main","index":0}]]},"Parsear Respuesta LLM":{"main":[[{"node":"PostgreSQL","type":"main","index":0}]]},"PostgreSQL":{"main":[[{"node":"Exportar Excel","type":"main","index":0},{"node":"Sincronizar Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"36d902d4-a6f3-422f-9e34-21ff63c2f542","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-12T06:12:49.354Z","createdAt":"2026-03-12T06:12:49.354Z","role":"workflow:owner","workflowId":"mZftUUNtFPIUN5TV","projectId":"uWVH3QU4R4Aa4rgG"}],"activeVersion":null,"tags":[]}